<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.AssessmentsMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Assessments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="codes" property="codes" jdbcType="VARCHAR" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="tec_id" property="tecId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ass_time" property="assTime" jdbcType="TIMESTAMP" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="is_pay" property="isPay" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="work_id" property="workId" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="tec_name" property="tecName" jdbcType="VARCHAR" />
    <result column="ass_type" property="assType" jdbcType="VARCHAR" />
  </resultMap>
  <!-- coffee add 1124 名师端接口 begin -->
  <!-- coffee add 1124 根据用户ID获取名师待测评列表 assessments/list/no接口调用 -->
  <resultMap id="MasterListResultMap" type="com.arttraining.api.bean.MasterAssessmentBean" >
    <id column="ass_id" property="ass_id" jdbcType="INTEGER" />
    <result column="ass_time" property="ass_time" jdbcType="TIMESTAMP" />
    <result column="code_number" property="order_number" jdbcType="VARCHAR" />
    <result column="order_id" property="order_id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="codes" property="codes" jdbcType="VARCHAR" />
    <result column="stu_id" property="stu_id" jdbcType="INTEGER" />
    <result column="stu_name" property="stu" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
        
  </resultMap>
   <select id="selectAssessmentNoListByMaster" resultMap="MasterListResultMap" parameterType="java.util.Map" >
   select a.id as ass_id,a.order_number,a.order_id,
   a.codes,a.stu_id,a.stu_name,a.ass_time,a.status,
   u.city_name as city,u.head_pic as pic,u.identity_name as identity
   from (select id,order_number,order_id,codes,
   stu_id,stu_name,ass_time,status,create_time
   from t_yp_assessments
   where is_deleted=0 and tec_id= #{uid,jdbcType=INTEGER}
   and status= #{status,jdbcType=INTEGER}
   <if test="offset!=-1">
   		and create_time &gt;(select create_time from t_yp_assessments
   		where is_deleted=0 and id=#{offset,jdbcType=INTEGER})
   		and id <![CDATA[ <> ]]> #{offset,jdbcType=INTEGER}
   </if>
   order by create_time
   limit #{limit,jdbcType=INTEGER}) a,
   (select id,city_name,head_pic,identity_name
   from t_yp_user_stu
   where is_lock=0 and is_deleted=0) u
   where a.stu_id=u.id
   order by a.create_time
  </select>
  <!-- coffee add 1124 根据用户ID获取名师已测评列表 assessments/list/yes接口调用 -->
  <select id="selectAssessmentYesListByMaster" resultMap="MasterListResultMap" parameterType="java.util.Map" >
  select a.id as ass_id,a.order_number,a.order_id,
   a.codes,a.stu_id,a.stu_name,a.ass_time,a.status,
   u.city_name as city,u.head_pic as pic,u.identity_name as identity
   from (select id,order_number,order_id,codes,
   stu_id,stu_name,ass_time,status
   from t_yp_assessments
   where is_deleted=0 and tec_id= #{uid,jdbcType=INTEGER}
   and status= #{status,jdbcType=INTEGER}
   <if test="offset!=-1">
   		and ass_time &lt;(select ass_time from t_yp_assessments
   		where is_deleted=0 and id=#{offset,jdbcType=INTEGER})
   		and id <![CDATA[ <> ]]> #{offset,jdbcType=INTEGER}
   </if>
   order by ass_time desc
   limit #{limit,jdbcType=INTEGER}) a,
   (select id,city_name,head_pic,identity_name
   from t_yp_user_stu
   where is_lock=0 and is_deleted=0) u
   where a.stu_id=u.id
   order by a.ass_time desc
  </select>
	
  <!-- coffee add 根据名师ID获取数量接口 masters/num接口调用 -->
  <select id="selectAssNumByMaster" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(id) as num
    from t_yp_assessments
    where tec_id = #{uid,jdbcType=INTEGER}
    and status=#{status,jdbcType=INTEGER}
    and is_deleted=0
  </select>
	
  <!-- coffee add 1129 依据订单号和订单ID来获取测评数量 orders/list_my接口调用 -->
  <select id="selectAssStatusByOrderId" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(id) as num
    from t_yp_assessments
    where order_id = #{order_id,jdbcType=INTEGER}
    and order_number = #{order_number,jdbcType=VARCHAR}
    and status=#{ass_status,jdbcType=INTEGER}
    and is_deleted=0
  </select>
  <!-- end -->
  
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    order_number, order_id, codes, stu_id, tec_id, status, ass_time, money, is_pay, pay_time, 
    cancel_time, work_id, stu_name, tec_name, ass_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_assessments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_assessments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Assessments" >
    insert into t_yp_assessments (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, order_number, 
      order_id, codes, stu_id, 
      tec_id, status, ass_time, 
      money, is_pay, pay_time, 
      cancel_time, work_id, stu_name, 
      tec_name, ass_type)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=INTEGER}, #{codes,jdbcType=VARCHAR}, #{stuId,jdbcType=INTEGER}, 
      #{tecId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{assTime,jdbcType=TIMESTAMP}, 
      #{money,jdbcType=VARCHAR}, #{isPay,jdbcType=INTEGER}, #{payTime,jdbcType=TIMESTAMP}, 
      #{cancelTime,jdbcType=TIMESTAMP}, #{workId,jdbcType=INTEGER}, #{stuName,jdbcType=VARCHAR}, 
      #{tecName,jdbcType=VARCHAR}, #{assType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.Assessments" >
    insert into t_yp_assessments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="codes != null" >
        codes,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="tecId != null" >
        tec_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="assTime != null" >
        ass_time,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="isPay != null" >
        is_pay,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="tecName != null" >
        tec_name,
      </if>
      <if test="assType != null" >
        ass_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="codes != null" >
        #{codes,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="tecId != null" >
        #{tecId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="assTime != null" >
        #{assTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="isPay != null" >
        #{isPay,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="tecName != null" >
        #{tecName,jdbcType=VARCHAR},
      </if>
      <if test="assType != null" >
        #{assType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Assessments" >
    update t_yp_assessments
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="codes != null" >
        codes = #{codes,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="tecId != null" >
        tec_id = #{tecId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="assTime != null" >
        ass_time = #{assTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="tecName != null" >
        tec_name = #{tecName,jdbcType=VARCHAR},
      </if>
      <if test="assType != null" >
        ass_type = #{assType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByOrderNumber" parameterType="com.arttraining.api.pojo.Assessments" >
    update t_yp_assessments
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="codes != null" >
        codes = #{codes,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="tecId != null" >
        tec_id = #{tecId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="assTime != null" >
        ass_time = #{assTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="tecName != null" >
        tec_name = #{tecName,jdbcType=VARCHAR},
      </if>
      <if test="assType != null" >
        ass_type = #{assType,jdbcType=VARCHAR},
      </if>
    </set>
    where order_number = #{orderNumber,jdbcType=VARCHAR}
    and order_id= #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Assessments" >
    update t_yp_assessments
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      codes = #{codes,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=INTEGER},
      tec_id = #{tecId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      ass_time = #{assTime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=VARCHAR},
      is_pay = #{isPay,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      work_id = #{workId,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      tec_name = #{tecName,jdbcType=VARCHAR},
      ass_type = #{assType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>