<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Coupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describel" property="describel" jdbcType="VARCHAR" />
    <result column="expiry_date" property="expiryDate" jdbcType="TIMESTAMP" />
    <result column="face_value" property="faceValue" jdbcType="DOUBLE" />
    <result column="face_value_type" property="faceValueType" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_used" property="isUsed" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    name, describel, expiry_date, face_value, face_value_type, type, is_used, user_id, 
    user_type
  </sql>
  <!-- coffee add sql where -->
  <sql id="select_coupon_where">
  		and is_deleted=0
  </sql>
  <!-- coffee add 1112 获取优惠券信息列表 coupons/list接口调用 -->
  <resultMap id="ListResultMap" type="com.arttraining.api.bean.CouponsListBean" >
    <id column="id" property="coupon_id" jdbcType="INTEGER" />
    <result column="name" property="coupon_name" jdbcType="VARCHAR" />
    <result column="describel" property="destribe" jdbcType="VARCHAR" />
    <result column="expiry_date" property="expiry_date" jdbcType="TIMESTAMP" />
    <result column="face_value" property="face_value" jdbcType="DOUBLE" />
    <result column="type" property="coupon_type" jdbcType="INTEGER" />
    <result column="is_used" property="is_used" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectCouponListByUid" resultMap="ListResultMap">
    select id,name,describel,expiry_date,face_value,type,is_used
    from t_yp_coupon
    where user_id=#{uid,jdbcType=INTEGER}
    and user_type=#{utype,jdbcType=VARCHAR}
    <include refid="select_coupon_where"></include>
    <if test="offset != -1">
    	and expiry_date &gt;(select expiry_date from t_yp_coupon
    	where id = #{offset,jdbcType=INTEGER}
    	<include refid="select_coupon_where"></include>)
    </if>
    <if test="type!=null">
    	and type=#{type,jdbcType=INTEGER}
    </if>
    order by expiry_date
    limit #{limit,jdbcType=INTEGER}
  </select>
  
  <!-- end -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Coupon" >
    insert into t_yp_coupon (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, name, 
      describel, expiry_date, face_value, 
      face_value_type, type, is_used, 
      user_id, user_type)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{describel,jdbcType=VARCHAR}, #{expiryDate,jdbcType=TIMESTAMP}, #{faceValue,jdbcType=DOUBLE}, 
      #{faceValueType,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{isUsed,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{userType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.Coupon" >
    insert into t_yp_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="describel != null" >
        describel,
      </if>
      <if test="expiryDate != null" >
        expiry_date,
      </if>
      <if test="faceValue != null" >
        face_value,
      </if>
      <if test="faceValueType != null" >
        face_value_type,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describel != null" >
        #{describel,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null" >
        #{expiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="faceValue != null" >
        #{faceValue,jdbcType=DOUBLE},
      </if>
      <if test="faceValueType != null" >
        #{faceValueType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Coupon" >
    update t_yp_coupon
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describel != null" >
        describel = #{describel,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null" >
        expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="faceValue != null" >
        face_value = #{faceValue,jdbcType=DOUBLE},
      </if>
      <if test="faceValueType != null" >
        face_value_type = #{faceValueType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Coupon" >
    update t_yp_coupon
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      describel = #{describel,jdbcType=VARCHAR},
      expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
      face_value = #{faceValue,jdbcType=DOUBLE},
      face_value_type = #{faceValueType,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      is_used = #{isUsed,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>