<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.GroupUserMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.GroupUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
  </resultMap>
  <!-- coffee add 1110 sql where -->
  <sql id="select_groupuser_where">
  	and is_deleted=0
  </sql>
  <!-- coffee add 1110 退出小组时 执行的操作 group/exit接口调用 -->
  <update id="updateGroupUserByExit" parameterType="com.arttraining.api.pojo.GroupUser" >
    update t_yp_group_user
    set delete_time = #{deleteTime,jdbcType=TIMESTAMP},
        is_deleted = #{isDeleted,jdbcType=INTEGER}
    where group_id = #{groupId,jdbcType=INTEGER}
    and user_id = #{userId,jdbcType=INTEGER}
    and user_type=#{userType,jdbcType=VARCHAR}
    <include refid="select_groupuser_where"></include>
  </update>

  <!-- coffee add 1111 获取小组成员列表信息 group/list接口调用-->
   <resultMap id="GroupUserListResultMap" type="com.arttraining.api.bean.GroupUserBean" >
    <result column="group_user_id" property="group_user_id" jdbcType="INTEGER" />
    <result column="head_pic" property="head_pic" jdbcType="VARCHAR" />
    <result column="user_id" property="uid" jdbcType="INTEGER" />
    <result column="user_type" property="user_type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_name" property="city" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectGroupUserListByGid" resultMap="GroupUserListResultMap">
    select g.id as group_user_id,
    g.head_pic,g.identity,g.user_id,g.user_type,
    u.name,u.city_name
    (select id,user_id,user_type,identity,head_pic
    from t_yp_group_user
    where group_id = #{gid,jdbcType=INTEGER}
    <include refid="select_groupuser_where"></include>
    <if test="offset !=-1 ">
    	and order_code <![CDATA[ >= ]]> (select order_code from t_yp_group_user 
    	where id=#{offset,jdbcType=INTEGER} and group_id = #{gid,jdbcType=INTEGER}
    	<include refid="select_groupuser_where"></include>)
    	and id <![CDATA[ <> ]]> #{offset,jdbcType=INTEGER}  
    </if>
    order by order_code
    limit #{limit,jdbcType=INTEGER}) g
    join 
    (select id,city_name,name from t_yp_user_stu 
    where is_lock=0 and is_deleted=0) u
    where u.id = g.user_id
    order by g.order_code
  </select>
    
  <!-- coffee add 1113 依据小组ID查询对应的所有小组成员列表信息 group/show接口调用 -->
  <resultMap id="GroupUserResultMap" type="com.arttraining.api.bean.GroupShowUserBean" >
    <id column="id" property="group_user_id" jdbcType="INTEGER" />
    <result column="user_id" property="uid" jdbcType="INTEGER" />
    <result column="user_type" property="utype" jdbcType="VARCHAR" />
    <result column="head_pic" property="head_pic" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectGroupUserListByGroupShow" resultMap="GroupUserResultMap">
    select id,user_id,user_type,head_pic
    from t_yp_group_user
    where group_id = #{gid,jdbcType=INTEGER}
    <include refid="select_groupuser_where"></include>
    order by create_time
    limit #{limit,jdbcType=INTEGER}
  </select>
 
  <!-- end -->
  
  <sql id="Base_Column_List" >
    id, uuid, head_pic, user_id, user_type, group_id, is_deleted, create_time, order_code, 
    delete_time, remarks, attachment, identity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_group_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_group_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.GroupUser" >
    insert into t_yp_group_user (id, uuid, head_pic, 
      user_id, user_type, group_id, 
      is_deleted, create_time, order_code, 
      delete_time, remarks, attachment, 
      identity)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{userType,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.GroupUser" >
    insert into t_yp_group_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="headPic != null" >
        head_pic,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="identity != null" >
        identity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.GroupUser" >
    update t_yp_group_user
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.GroupUser" >
    update t_yp_group_user
    set uuid = #{uuid,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>