<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Group" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="owner_type" property="ownerType" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="verify_status" property="verifyStatus" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="people_num" property="peopleNum" jdbcType="INTEGER" />
    <result column="status_num" property="statusNum" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <!-- coffee add sql where -->
  <sql id="select_group_where">
  	and is_deleted=0
  </sql>
  <!-- coffee add 1110 创建小组时新增的小组信息 group/create接口调用 -->
   <insert id="insertOneGroup" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.arttraining.api.pojo.Group" >
    insert into t_yp_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="ownerType != null" >
        owner_type,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="verifyStatus != null" >
        verify_status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="peopleNum != null" >
        people_num,
      </if>
      <if test="statusNum != null" >
        status_num,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null" >
        #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null" >
        #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="statusNum != null" >
        #{statusNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- coffee add 1110 判断是否重复创建小组 group/create接口调用 -->
  <select id="selectIsRepeatGroup" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_yp_group
    where owner_type=#{utype,jdbcType=VARCHAR} and
     name=#{name,jdbcType=VARCHAR} and owner=#{uid,jdbcType=INTEGER}
     <include refid="select_group_where"></include>
  </select>
  
  <!-- coffee add 1110 新增查询用户头像 group/join create接口调用 -->
  <select id="selectUerPicByIdAndType" parameterType="java.util.Map"
  	  resultType="java.lang.String">
  	 select head_pic
  	 from t_yp_user_stu
  	 where is_deleted=0 and is_lock=0
  	 and id=#{uid,jdbcType=VARCHAR}
  </select>
  
   <!-- coffee add 1110 加入小组时 修改小组成员数 group/join create接口调用-->
   <update id="updatePeopleNumByCreate" parameterType="com.arttraining.api.pojo.Group">
   	update t_yp_group
   	set people_num=people_num+1
   	where id=#{id,jdbcType=INTEGER}
   	<include refid="select_group_where"></include>
   </update>
   <!-- coffee add 1110 退出小组时 修改小组成员数 group/exit接口调用 -->
   <update id="updatePeopleNumByExit" parameterType="com.arttraining.api.pojo.Group">
   	update t_yp_group
   	set people_num=people_num-1
   	where id=#{id,jdbcType=INTEGER}
   	<include refid="select_group_where"></include>
   </update>
   
   <!-- coffee add 1110 获取小组列表信息 group/list接口调用 -->
  <resultMap id="ListResultMap" type="com.arttraining.api.bean.GroupListBean" >
    <id column="id" property="group_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="order_code" property="order_code" jdbcType="VARCHAR" />
    <result column="people_num" property="users_num" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectGroupList" resultMap="ListResultMap" >
   select id,name,pic,introduce,grade,people_num,order_code
    from t_yp_group
    where verify_status=1 and is_deleted=0
    <if test="offset != -1">
    	and order_code &gt;(select order_code from t_yp_group where id=#{offset,jdbcType=INTEGER})
    </if>
    order by order_code, create_time desc
    limit #{limit,jdbcType=INTEGER}
  </select>
  
  <!--coffee add 1110 根据用户ID获取用户小组信息  -->
  <resultMap id="ListMyResultMap" type="com.arttraining.api.bean.GroupListMyBean" >
    <id column="id" property="group_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="order_code" property="order_code" jdbcType="VARCHAR" />
    <result column="people_num" property="users_num" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectGroupListMy" resultMap="ListMyResultMap" parameterType="java.util.Map">
    select id,name,pic,introduce,grade,people_num,verify_status
    from v_yp_listmy_group
    where user_id=#{uid,jdbcType=INTEGER} 
    and user_type=#{utype,jdbcType=VARCHAR}
    <if test="offset != -1">
    	and order_code &gt;(select order_code from v_yp_listmy_group 
    	where id=#{offset,jdbcType=INTEGER}
    	and user_id=#{uid,jdbcType=INTEGER} 
    	and user_type=#{utype,jdbcType=VARCHAR})
    </if>
    order by order_code, create_time desc
    limit #{limit,jdbcType=INTEGER}
  </select>
  
  <!-- coffee add 1111 查询指定小组ID的信息 group/show接口调用-->
  <resultMap id="GroupResultMap" type="com.arttraining.api.bean.GroupShowBean" >
    <id column="id" property="group_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="owner_type" property="owner_type" jdbcType="VARCHAR" />
    <result column="owner_pic" property="owner_pic" jdbcType="VARCHAR" />
    <result column="owner_name" property="owner_name" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="people_num" property="users_num" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectGroupShowById" resultMap="GroupResultMap" parameterType="java.lang.Integer">
   select g.id,g.name,g.pic,g.introduce,g.grade,g.people_num,
   g.create_time,g.owner,g.owner_type,g.number,
   u.name as owner_name,u.head_pic as owner_pic
   (select id,name,pic,introduce,grade,people_num,
   create_time,owner,owner_type,number
   from t_yp_group
   where id=#{id,jdbcType=INTEGER} 
   <include refid="select_group_where"></include>) g
   join 
   (select id,name,head_pic from t_yp_user_stu 
   where is_deleted=0 and is_lock=0) u
   on g.owner = u.id
  </select>
  <!-- end -->
  
  
  <sql id="Base_Column_List" >
    id, uuid, name, number, owner_type, owner, introduce, tag, classify, grade, verify_status, 
    is_deleted, create_time, order_code, delete_time, remarks, attachment, people_num, 
    status_num, pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Group" >
    insert into t_yp_group (id, uuid, name, 
      number, owner_type, owner, 
      introduce, tag, classify, 
      grade, verify_status, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, people_num, 
      status_num, pic)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{ownerType,jdbcType=VARCHAR}, #{owner,jdbcType=INTEGER}, 
      #{introduce,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{classify,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{verifyStatus,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{peopleNum,jdbcType=INTEGER}, 
      #{statusNum,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.Group" >
    insert into t_yp_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="ownerType != null" >
        owner_type,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="verifyStatus != null" >
        verify_status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="peopleNum != null" >
        people_num,
      </if>
      <if test="statusNum != null" >
        status_num,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null" >
        #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null" >
        #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="statusNum != null" >
        #{statusNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Group" >
    update t_yp_group
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null" >
        owner_type = #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null" >
        verify_status = #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null" >
        people_num = #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="statusNum != null" >
        status_num = #{statusNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Group" >
    update t_yp_group
    set uuid = #{uuid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      owner_type = #{ownerType,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      classify = #{classify,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      verify_status = #{verifyStatus,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      people_num = #{peopleNum,jdbcType=INTEGER},
      status_num = #{statusNum,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>