<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.InstitutionsMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Institutions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="video" property="video" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="admissions_guide" property="admissionsGuide" jdbcType="VARCHAR" />
    <result column="admission_line" property="admissionLine" jdbcType="VARCHAR" />
    <result column="enrollment_plan" property="enrollmentPlan" jdbcType="VARCHAR" />
    <result column="official_website" property="officialWebsite" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_father" property="cityFather" jdbcType="VARCHAR" />
    <result column="follow_num" property="followNum" jdbcType="INTEGER" />
    <result column="school_type" property="schoolType" jdbcType="VARCHAR" />
    <result column="browse_num" property="browseNum" jdbcType="INTEGER" />
    <result column="is_media" property="isMedia" jdbcType="INTEGER" />
    <result column="is_fine_art" property="isFineArt" jdbcType="INTEGER" />
    <result column="is_music" property="isMusic" jdbcType="INTEGER" />
    <result column="is_independence" property="isIndependence" jdbcType="INTEGER" />
    <result column="is_reference" property="isReference" jdbcType="INTEGER" />
    <result column="is_score" property="isScore" jdbcType="INTEGER" />
    <result column="school_grade" property="schoolGrade" jdbcType="VARCHAR" />
    <result column="school_batch" property="schoolBatch" jdbcType="VARCHAR" />
    <result column="school_score" property="schoolScore" jdbcType="VARCHAR" />
    <result column="enrollment_num" property="enrollmentNum" jdbcType="INTEGER" />
  </resultMap>
  
  <!-- coffee add 获取院校信息列表 institutions/list接口调用-->
    <resultMap id="ListResultMap" type="com.arttraining.api.bean.InstitutionsListBean" >
    <id column="id" property="institution_id" jdbcType="INTEGER" />
    <result column="pic" property="institution_pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="official_website" property="admissions_guide" jdbcType="VARCHAR" />
    <result column="follow_num" property="follow_num" jdbcType="INTEGER" />
    <result column="browse_num" property="browse_num" jdbcType="INTEGER" />
  </resultMap>
   <select id="selectInstitutionsList" resultMap="ListResultMap" parameterType="java.util.Map" >
    select id,pic,name,official_website,
    follow_num,browse_num
    from t_yp_institutions
    where is_deleted=0
    <choose>
    	<when test="type=='province'">
    		and city_father=#{name,jdbcType=VARCHAR}
    	</when>
    	<when test="type=='all'">
    		and 1=1
    	</when>
    	<otherwise>
    		and ${type}=1
    	</otherwise>
    </choose>
    order by order_code
  </select>
  
  <!-- coffee add 根据院校ID获取院校详情信息 institutions/show接口调用-->
   <resultMap id="ShowResultMap" type="com.arttraining.api.bean.InstitutionsShowBean" >
  	 <id column="id" property="institution_id" jdbcType="INTEGER" />
    <result column="pic" property="institution_pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="admissions_guide" property="admissions_guide" jdbcType="VARCHAR" />
    <result column="follow_num" property="follow_num" jdbcType="INTEGER" />
    <result column="browse_num" property="browse_num" jdbcType="INTEGER" />
    <result column="video" property="video" jdbcType="VARCHAR" />
    <result column="city_name" property="city" jdbcType="VARCHAR" />
    <result column="city_father" property="province" jdbcType="VARCHAR" />
    <result column="school_grade" property="school_grade" jdbcType="VARCHAR" />
    <result column="school_batch" property="school_batch" jdbcType="VARCHAR" />
    <result column="school_score" property="school_score" jdbcType="VARCHAR" />
    <result column="school_type" property="school_type" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="enrollment_num" property="enrollment_num" jdbcType="INTEGER" />
    <result column="enrollment_plan" property="enrollment_plan" jdbcType="VARCHAR" /> 
    <result column="admission_line" property="admission_line" jdbcType="VARCHAR" /> 
    <result column="official_website" property="official_website" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectInstitutionsShow" resultMap="ShowResultMap" parameterType="java.lang.Integer" >
    select id,pic,name,admissions_guide,
    follow_num,browse_num,official_website,
    admission_line,enrollment_plan,enrollment_num,
    introduction,school_type,school_score,school_batch,
    city_father,city_name,video,school_grade
    from t_yp_institutions
    where is_deleted=0 and id=#{id,jdbcType=INTEGER}
  </select>
  <!-- end -->
  
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    name, video, pic, introduction, admissions_guide, admission_line, enrollment_plan, 
    official_website, city_id, city_name, city_father, follow_num, school_type, browse_num, 
    is_media, is_fine_art, is_music, is_independence, is_reference, is_score, school_grade, 
    school_batch, school_score, enrollment_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_institutions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_institutions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Institutions" >
    insert into t_yp_institutions (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, name, 
      video, pic, introduction, 
      admissions_guide, admission_line, enrollment_plan, 
      official_website, city_id, city_name, 
      city_father, follow_num, school_type, 
      browse_num, is_media, is_fine_art, 
      is_music, is_independence, is_reference, 
      is_score, school_grade, school_batch, 
      school_score, enrollment_num)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{video,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{admissionsGuide,jdbcType=VARCHAR}, #{admissionLine,jdbcType=VARCHAR}, #{enrollmentPlan,jdbcType=VARCHAR}, 
      #{officialWebsite,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{cityFather,jdbcType=VARCHAR}, #{followNum,jdbcType=INTEGER}, #{schoolType,jdbcType=VARCHAR}, 
      #{browseNum,jdbcType=INTEGER}, #{isMedia,jdbcType=INTEGER}, #{isFineArt,jdbcType=INTEGER}, 
      #{isMusic,jdbcType=INTEGER}, #{isIndependence,jdbcType=INTEGER}, #{isReference,jdbcType=INTEGER}, 
      #{isScore,jdbcType=INTEGER}, #{schoolGrade,jdbcType=VARCHAR}, #{schoolBatch,jdbcType=VARCHAR}, 
      #{schoolScore,jdbcType=VARCHAR}, #{enrollmentNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.Institutions" >
    insert into t_yp_institutions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="admissionsGuide != null" >
        admissions_guide,
      </if>
      <if test="admissionLine != null" >
        admission_line,
      </if>
      <if test="enrollmentPlan != null" >
        enrollment_plan,
      </if>
      <if test="officialWebsite != null" >
        official_website,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityFather != null" >
        city_father,
      </if>
      <if test="followNum != null" >
        follow_num,
      </if>
      <if test="schoolType != null" >
        school_type,
      </if>
      <if test="browseNum != null" >
        browse_num,
      </if>
      <if test="isMedia != null" >
        is_media,
      </if>
      <if test="isFineArt != null" >
        is_fine_art,
      </if>
      <if test="isMusic != null" >
        is_music,
      </if>
      <if test="isIndependence != null" >
        is_independence,
      </if>
      <if test="isReference != null" >
        is_reference,
      </if>
      <if test="isScore != null" >
        is_score,
      </if>
      <if test="schoolGrade != null" >
        school_grade,
      </if>
      <if test="schoolBatch != null" >
        school_batch,
      </if>
      <if test="schoolScore != null" >
        school_score,
      </if>
      <if test="enrollmentNum != null" >
        enrollment_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="admissionsGuide != null" >
        #{admissionsGuide,jdbcType=VARCHAR},
      </if>
      <if test="admissionLine != null" >
        #{admissionLine,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentPlan != null" >
        #{enrollmentPlan,jdbcType=VARCHAR},
      </if>
      <if test="officialWebsite != null" >
        #{officialWebsite,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFather != null" >
        #{cityFather,jdbcType=VARCHAR},
      </if>
      <if test="followNum != null" >
        #{followNum,jdbcType=INTEGER},
      </if>
      <if test="schoolType != null" >
        #{schoolType,jdbcType=VARCHAR},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="isMedia != null" >
        #{isMedia,jdbcType=INTEGER},
      </if>
      <if test="isFineArt != null" >
        #{isFineArt,jdbcType=INTEGER},
      </if>
      <if test="isMusic != null" >
        #{isMusic,jdbcType=INTEGER},
      </if>
      <if test="isIndependence != null" >
        #{isIndependence,jdbcType=INTEGER},
      </if>
      <if test="isReference != null" >
        #{isReference,jdbcType=INTEGER},
      </if>
      <if test="isScore != null" >
        #{isScore,jdbcType=INTEGER},
      </if>
      <if test="schoolGrade != null" >
        #{schoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolBatch != null" >
        #{schoolBatch,jdbcType=VARCHAR},
      </if>
      <if test="schoolScore != null" >
        #{schoolScore,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentNum != null" >
        #{enrollmentNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Institutions" >
    update t_yp_institutions
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="admissionsGuide != null" >
        admissions_guide = #{admissionsGuide,jdbcType=VARCHAR},
      </if>
      <if test="admissionLine != null" >
        admission_line = #{admissionLine,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentPlan != null" >
        enrollment_plan = #{enrollmentPlan,jdbcType=VARCHAR},
      </if>
      <if test="officialWebsite != null" >
        official_website = #{officialWebsite,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFather != null" >
        city_father = #{cityFather,jdbcType=VARCHAR},
      </if>
      <if test="followNum != null" >
        follow_num = #{followNum,jdbcType=INTEGER},
      </if>
      <if test="schoolType != null" >
        school_type = #{schoolType,jdbcType=VARCHAR},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="isMedia != null" >
        is_media = #{isMedia,jdbcType=INTEGER},
      </if>
      <if test="isFineArt != null" >
        is_fine_art = #{isFineArt,jdbcType=INTEGER},
      </if>
      <if test="isMusic != null" >
        is_music = #{isMusic,jdbcType=INTEGER},
      </if>
      <if test="isIndependence != null" >
        is_independence = #{isIndependence,jdbcType=INTEGER},
      </if>
      <if test="isReference != null" >
        is_reference = #{isReference,jdbcType=INTEGER},
      </if>
      <if test="isScore != null" >
        is_score = #{isScore,jdbcType=INTEGER},
      </if>
      <if test="schoolGrade != null" >
        school_grade = #{schoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolBatch != null" >
        school_batch = #{schoolBatch,jdbcType=VARCHAR},
      </if>
      <if test="schoolScore != null" >
        school_score = #{schoolScore,jdbcType=VARCHAR},
      </if>
      <if test="enrollmentNum != null" >
        enrollment_num = #{enrollmentNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Institutions" >
    update t_yp_institutions
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      admissions_guide = #{admissionsGuide,jdbcType=VARCHAR},
      admission_line = #{admissionLine,jdbcType=VARCHAR},
      enrollment_plan = #{enrollmentPlan,jdbcType=VARCHAR},
      official_website = #{officialWebsite,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_father = #{cityFather,jdbcType=VARCHAR},
      follow_num = #{followNum,jdbcType=INTEGER},
      school_type = #{schoolType,jdbcType=VARCHAR},
      browse_num = #{browseNum,jdbcType=INTEGER},
      is_media = #{isMedia,jdbcType=INTEGER},
      is_fine_art = #{isFineArt,jdbcType=INTEGER},
      is_music = #{isMusic,jdbcType=INTEGER},
      is_independence = #{isIndependence,jdbcType=INTEGER},
      is_reference = #{isReference,jdbcType=INTEGER},
      is_score = #{isScore,jdbcType=INTEGER},
      school_grade = #{schoolGrade,jdbcType=VARCHAR},
      school_batch = #{schoolBatch,jdbcType=VARCHAR},
      school_score = #{schoolScore,jdbcType=VARCHAR},
      enrollment_num = #{enrollmentNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>