<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Major" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
    <result column="father_name" property="fatherName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <!-- coffee add 1115 获取一级专业列表 major/list/level_one接口调用 -->
   <resultMap id="MajorListResultMap" type="com.arttraining.api.bean.MajorListBean" >
    <id column="id" property="major_id" jdbcType="INTEGER" />
    <result column="name" property="major_name" jdbcType="VARCHAR" />
    <result column="father_id" property="father_id" jdbcType="INTEGER" />
    <result column="father_name" property="father_name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectOneLevelMajorByList" resultMap="MajorListResultMap">
    select id,name,father_id,father_name,level
    from t_yp_major
    where is_deleted=0 and level=1
    order by order_code
  </select>
  
  <!-- coffee add 获取专业列表 major/list接口调用 -->
   <resultMap id="MajorTreeResultMap" type="com.arttraining.api.bean.MajorLevelListBean" >
    <id column="id" property="major_id" jdbcType="INTEGER" />
    <result column="name" property="major_name" jdbcType="VARCHAR" />
    <result column="father_id" property="father_id" jdbcType="INTEGER" />
    <result column="father_name" property="father_name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <!-- coffee add 1115 依据ID查询某个专业信息 major/list接口调用 -->
  <select id="selectMajorNodeById" resultMap="MajorTreeResultMap" parameterType="java.lang.Integer">
    select id,name,father_id,father_name,level
    from t_yp_major
    where is_deleted=0 and id=#{id,jdbcType=INTEGER}
  </select>
  <!-- coffee add 1115 依据父节点查询所属的所有子节点 major/list接口调用-->
  <select id="selectMajorNodeByFid" resultMap="MajorTreeResultMap" parameterType="java.lang.Integer">
    select id,name,father_id,father_name,level
    from t_yp_major
    where is_deleted=0 and father_id=#{father_id,jdbcType=INTEGER}
    order by order_code
  </select>
  
  <!-- coffee add 1115 获取目前所有的一级专业列表信息 major/list接口调用 -->
  <select id="selectAllOneLevelMajor" resultType="java.lang.Integer">
    select id
    from t_yp_major
    where is_deleted=0 and level=1
    order by order_code
  </select>
  
  <!-- end -->
  
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    name, father_id, father_name, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_major
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Major" >
    insert into t_yp_major (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, name, 
      father_id, father_name, level
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{fatherId,jdbcType=INTEGER}, #{fatherName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.Major" >
    insert into t_yp_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fatherId != null" >
        father_id,
      </if>
      <if test="fatherName != null" >
        father_name,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null" >
        #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="fatherName != null" >
        #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Major" >
    update t_yp_major
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null" >
        father_id = #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="fatherName != null" >
        father_name = #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Major" >
    update t_yp_major
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      father_id = #{fatherId,jdbcType=INTEGER},
      father_name = #{fatherName,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>