<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.OrderCourseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.OrderCourseDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="tec_id" property="tecId" jdbcType="INTEGER" />
    <result column="tec_name" property="tecName" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="chapter_id" property="chapterId" jdbcType="INTEGER" />
    <result column="chapter_name" property="chapterName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="is_pay" property="isPay" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
    <result column="bak4" property="bak4" jdbcType="VARCHAR" />
    <result column="bak5" property="bak5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    type, order_number, order_id, stu_id, stu_name, tec_id, tec_name, course_id, course_name, 
    chapter_id, chapter_name, status, money, is_pay, pay_time, cancel_time, bak1, bak2, 
    bak3, bak4, bak5
  </sql>
  
  <!-- coffee add 0323 查看我的直播课程列表 -->
  <resultMap id="ChapterListResultMap" type="com.arttraining.api.beanv2.LiveChapterOrderListBean" >
    <result column="id" property="buy_id" jdbcType="INTEGER" />
    <result column="order_number" property="order_number" jdbcType="VARCHAR" />
    <result column="chapter_id" property="chapter_id" jdbcType="INTEGER" />
    <result column="chapter_name" property="chapter_name" jdbcType="VARCHAR" />
    <result column="sd_url" property="record_url" jdbcType="VARCHAR" />
    <result column="money" property="chapter_price" jdbcType="DOUBLE" />
    <result column="pay_time" property="buy_time" jdbcType="TIMESTAMP" />
    <result column="live_status" property="live_status" jdbcType="INTEGER" />
    <result column="room_id" property="room_id" jdbcType="INTEGER" />
    <result column="start_time" property="start_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectLiveChapterOrderListByUid" resultMap="ChapterListResultMap" parameterType="java.util.Map" >
    select o.id,o.order_number,o.chapter_id,
    o.chapter_name,o.money,o.pay_time,
    l.live_status,l.start_time,l.room_id,l.sd_url
    from (select id,order_number,chapter_id,
    chapter_name,money,pay_time
    from t_yp_order_course_detail
    where is_deleted=0 and type=11 
    and status=1 and is_pay=1
    and stu_id= #{uid,jdbcType=INTEGER}
    <if test="offset !=-1">
    	and pay_time <![CDATA[ <= ]]> (select pay_time from t_yp_order_course_detail
    	where id=#{offset,jdbcType=INTEGER})
    </if>
	order by pay_time desc 
	limit #{limit,jdbcType=INTEGER}) o,
	(select id,live_status,start_time,room_id,sd_url
	from t_yp_live_chapter_plan
	where is_deleted=0 and is_publish=2) l
	where o.chapter_id=l.id
	order by o.pay_time desc 
  </select>
  
  <!-- coffee add 0322 修改直播课时订单信息 -->
  <update id="updateCourseDetailByOrderId" parameterType="com.arttraining.api.pojo.OrderCourseDetail" >
    update t_yp_order_course_detail
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="tecId != null" >
        tec_id = #{tecId,jdbcType=INTEGER},
      </if>
      <if test="tecName != null" >
        tec_name = #{tecName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null" >
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null" >
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        bak4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        bak5 = #{bak5,jdbcType=VARCHAR},
      </if>
    </set>
    where is_deleted=0 
    and order_id = #{orderId,jdbcType=INTEGER}
    and order_number=#{orderNumber,jdbcType=VARCHAR}
  </update>
  
  <!-- coffee add 0122 判断爱好者端是否购买相应的课时 type 1(购买课程) 11(购买课时) 2(一对一预约课程直播)-->
  <select id="selectIsExistCourseDetailById" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_order_course_detail
    where is_deleted=0 and type=11 
    and status=1 and is_pay=1
    <if test="uid !=null">
    	and stu_id= #{uid,jdbcType=INTEGER}
    </if>
    <if test="chapter_id !=null">
    	and chapter_id=#{chapter_id,jdbcType=INTEGER}
    </if>
  </select>
  
  <!-- end -->
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_order_course_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_order_course_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.OrderCourseDetail" >
    insert into t_yp_order_course_detail (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, type, 
      order_number, order_id, stu_id, 
      stu_name, tec_id, tec_name, 
      course_id, course_name, chapter_id, 
      chapter_name, status, money, 
      is_pay, pay_time, cancel_time, 
      bak1, bak2, bak3, bak4, 
      bak5)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{orderNumber,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, 
      #{stuName,jdbcType=VARCHAR}, #{tecId,jdbcType=INTEGER}, #{tecName,jdbcType=VARCHAR}, 
      #{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{chapterId,jdbcType=INTEGER}, 
      #{chapterName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}, 
      #{isPay,jdbcType=INTEGER}, #{payTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP}, 
      #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, 
      #{bak5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.OrderCourseDetail" >
    insert into t_yp_order_course_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="tecId != null" >
        tec_id,
      </if>
      <if test="tecName != null" >
        tec_name,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="chapterName != null" >
        chapter_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="isPay != null" >
        is_pay,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
      <if test="bak3 != null" >
        bak3,
      </if>
      <if test="bak4 != null" >
        bak4,
      </if>
      <if test="bak5 != null" >
        bak5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="tecId != null" >
        #{tecId,jdbcType=INTEGER},
      </if>
      <if test="tecName != null" >
        #{tecName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="isPay != null" >
        #{isPay,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        #{bak5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.OrderCourseDetail" >
    update t_yp_order_course_detail
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="tecId != null" >
        tec_id = #{tecId,jdbcType=INTEGER},
      </if>
      <if test="tecName != null" >
        tec_name = #{tecName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null" >
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null" >
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        bak4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        bak5 = #{bak5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.OrderCourseDetail" >
    update t_yp_order_course_detail
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      stu_id = #{stuId,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      tec_id = #{tecId,jdbcType=INTEGER},
      tec_name = #{tecName,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=INTEGER},
      course_name = #{courseName,jdbcType=VARCHAR},
      chapter_id = #{chapterId,jdbcType=INTEGER},
      chapter_name = #{chapterName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      money = #{money,jdbcType=DOUBLE},
      is_pay = #{isPay,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR},
      bak4 = #{bak4,jdbcType=VARCHAR},
      bak5 = #{bak5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>