<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="code_number" property="codeNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="coupon_pay" property="couponPay" jdbcType="DOUBLE" />
    <result column="final_pay" property="finalPay" jdbcType="DOUBLE" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="order_detail_num" property="orderDetailNum" jdbcType="INTEGER" />
    
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
    <result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="remaining_time" property="remainingTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!-- coffee add 获取用户订单信息列表 orders/list_my接口调用 -->
  <resultMap id="ListMyResultMap" type="com.arttraining.api.bean.OrderListMyBean" >
    <id column="id" property="order_id" jdbcType="INTEGER" />
    <result column="create_time" property="order_time" jdbcType="TIMESTAMP" />
    <result column="code_number" property="order_number" jdbcType="VARCHAR" />
    <result column="type" property="order_type" jdbcType="INTEGER" />
    <result column="status" property="order_status" jdbcType="INTEGER" />
    <result column="final_pay" property="order_total_price" jdbcType="DOUBLE" />
    <result column="order_detail_num" property="order_element_num" jdbcType="INTEGER" />
    <result column="active_time" property="active_time" jdbcType="VARCHAR" />
    <result column="coupon_id" property="coupon_id" jdbcType="INTEGER" />
    <result column="coupon_type" property="coupon_type" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectMyListOrderByUid" resultMap="ListMyResultMap" parameterType="java.util.Map" >
    select id,create_time,code_number,
    type,status,final_pay,order_detail_num,
    active_time,coupon_id,coupon_type
    from t_yp_order
    where user_id = #{uid,jdbcType=INTEGER}
    <if test="offset !=-1">
    	and create_time &lt;(select create_time from t_yp_order
    	where user_id = #{uid,jdbcType=INTEGER} 
    	and id=#{offset,jdbcType=INTEGER})
    </if>
    <if test="status !=null">
    	and status=#{status,jdbcType=INTEGER}
    </if>
    order by create_time desc
    limit #{limit,jdbcType=INTEGER}
  </select>
  <resultMap id="MyWorkResultMap" type="com.arttraining.api.bean.OrderWorkBean" >
    <result column="work_id" property="work_id" jdbcType="INTEGER" />
    <result column="work_title" property="work_title" jdbcType="VARCHAR" />
    <result column="work_pic" property="work_pic" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectWorkInfoByListMy" resultMap="MyWorkResultMap" parameterType="java.util.Map" >
    <choose>
    	<when test="type==0">
	    	select id as work_id,title as work_title,attachment as work_pic
	    	from t_yp_works 
	    	where assessments_code=#{order_number,jdbcType=VARCHAR}
	    	and assessments_id=#{order_id,jdbcType=INTEGER}
	    	and is_deleted=0
    	</when>
    </choose>
  </select>
  <!-- coffee add 1218 作品上传图片时 返回封面 -->
   <select id="selectWorkAttById" resultType="java.lang.String" parameterType="java.lang.Integer" >
	    select store_path
	    from t_yp_works_att 
	    where foreign_key=#{work_id,jdbcType=INTEGER}
	    and is_deleted=0
  </select>
  
  <!-- coffee add 根据ID获取订单详情信息 orders/show接口调用 -->
   <resultMap id="ShowOrderResultMap" type="com.arttraining.api.bean.AssessmentListReBean" >
    <id column="id" property="order_id" jdbcType="INTEGER" />
    <result column="create_time" property="order_time" jdbcType="TIMESTAMP" />
    <result column="code_number" property="order_number" jdbcType="VARCHAR" />
    <result column="type" property="order_type" jdbcType="INTEGER" />
    <result column="status" property="order_status" jdbcType="INTEGER" />
    <result column="final_pay" property="order_total_price" jdbcType="DOUBLE" />
    <result column="order_detail_num" property="order_element_num" jdbcType="INTEGER" />
  	<collection property="assessments" ofType="com.arttraining.api.bean.AssessmentListBean">
    	   <id column="ass_id" property="ass_id" jdbcType="INTEGER" />
    	   <result column="ass_order_number" property="order_number" jdbcType="VARCHAR" />
    	   <result column="ass_order_id" property="order_id" jdbcType="INTEGER" />  
    	   <result column="ass_codes" property="codes" jdbcType="VARCHAR" />
    	   <result column="ass_stu_id" property="stu_id" jdbcType="INTEGER" />  
    	   <result column="ass_stu_name" property="stu" jdbcType="VARCHAR" />
    	   <result column="ass_tec_id" property="tec_id" jdbcType="INTEGER" />  
    	   <result column="ass_tec_name" property="tec" jdbcType="VARCHAR" />
    	   <result column="ass_time" property="ass_time" jdbcType="VARCHAR" />
    	   <result column="ass_status" property="status" jdbcType="INTEGER" />
	</collection>  
  </resultMap>
  
   <select id="selectAssListByShow" resultMap="ShowOrderResultMap" parameterType="java.util.Map" >
    <choose>
    	<when test="type==0">
    		select o.id,o.create_time,o.code_number,o.type,o.status,
	    	o.final_pay,o.order_detail_num,
	    	a.id as ass_id,a.order_number as ass_order_number,
	    	a.order_id as ass_order_id,a.codes as ass_codes,
	    	a.stu_id as ass_stu_id,a.stu_name as ass_stu_name,
	    	a.tec_id as ass_tec_id,a.tec_name as ass_tec_name,
	    	a.ass_time,a.status as ass_status
	    	from (select id,create_time,code_number,type,status,
	    	final_pay,order_detail_num
	    	from t_yp_order
	    	where is_deleted=0 and id=#{order_id,jdbcType=INTEGER}) o
	    	left join
	    	(select id,order_number,order_id,codes,
	    	stu_id,stu_name,tec_id,tec_name,ass_time,status,create_time
	    	from t_yp_assessments
	    	where is_deleted=0 and stu_id= #{uid,jdbcType=INTEGER}) a
	    	on o.id = a.order_id
	    	order by a.create_time
    	</when>
    </choose>
  </select>
  
   <select id="selectTecPicById" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select head_pic
    from t_yp_user_tech
    where id = #{id,jdbcType=INTEGER}
    and is_deleted=0 and is_lock=0
  </select>
  <!-- end -->
  
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    code_number, user_id, type, status, pay_time, cancel_time, money, auditor, coupon_pay, 
    final_pay, pay_type, order_detail_num,active_time,remaining_time,
    coupon_id,coupon_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_order
    where code_number = #{codeNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Order" >
    insert into t_yp_order (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, code_number, 
      user_id, type, status, 
      pay_time, cancel_time, money, 
      auditor, coupon_pay, final_pay, 
      pay_type,order_detail_num,
      active_time,remaining_time,
      coupon_id,coupon_type)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{codeNumber,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{payTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP}, #{money,jdbcType=DOUBLE}, 
      #{auditor,jdbcType=VARCHAR}, #{couponPay,jdbcType=DOUBLE}, #{finalPay,jdbcType=DOUBLE}, 
      #{payType,jdbcType=VARCHAR}, #{orderDetailNum,jdbcType=INTEGER},
      #{activeTime,jdbcType=TIMESTAMP}, #{remainingTime,jdbcType=TIMESTAMP},
      #{couponId,jdbcType=INTEGER}, #{couponType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.arttraining.api.pojo.Order" >
    insert into t_yp_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="codeNumber != null" >
        code_number,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="couponPay != null" >
        coupon_pay,
      </if>
      <if test="finalPay != null" >
        final_pay,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="orderDetailNum != null" >
        order_detail_num,
      </if>
      <if test="activeTime != null" >
        active_time,
      </if>
      <if test="remainingTime != null" >
        remaining_time,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
       <if test="couponType != null" >
        coupon_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="codeNumber != null" >
        #{codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="couponPay != null" >
        #{couponPay,jdbcType=DOUBLE},
      </if>
      <if test="finalPay != null" >
        #{finalPay,jdbcType=DOUBLE},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
       <if test="orderDetailNum != null" >
        #{orderDetailNum,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remainingTime != null" >
        #{remainingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Order" >
    update t_yp_order
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="codeNumber != null" >
        code_number = #{codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="couponPay != null" >
        coupon_pay = #{couponPay,jdbcType=DOUBLE},
      </if>
      <if test="finalPay != null" >
        final_pay = #{finalPay,jdbcType=DOUBLE},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
       <if test="orderDetailNum != null" >
        order_detail_num = #{orderDetailNum,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        active_time= #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remainingTime != null" >
        remaining_time= #{remainingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null" >
        coupon_id=#{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponType != null" >
        coupon_type=#{couponType,jdbcType=INTEGER},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.arttraining.api.pojo.Order" >
    update t_yp_order
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="codeNumber != null" >
        code_number = #{codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="couponPay != null" >
        coupon_pay = #{couponPay,jdbcType=DOUBLE},
      </if>
      <if test="finalPay != null" >
        final_pay = #{finalPay,jdbcType=DOUBLE},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="orderDetailNum != null" >
        order_detail_num = #{orderDetailNum,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        active_time= #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remainingTime != null" >
        remaining_time= #{remainingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null" >
        coupon_id=#{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponType != null" >
        coupon_type=#{couponType,jdbcType=INTEGER},
      </if>
    </set>
    where code_number = #{codeNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Order" >
    update t_yp_order
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      code_number = #{codeNumber,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DOUBLE},
      auditor = #{auditor,jdbcType=VARCHAR},
      coupon_pay = #{couponPay,jdbcType=DOUBLE},
      final_pay = #{finalPay,jdbcType=DOUBLE},
      pay_type = #{payType,jdbcType=VARCHAR},
      order_detail_num = #{orderDetailNum,jdbcType=INTEGER},
      active_time= #{activeTime,jdbcType=TIMESTAMP},
      remaining_time= #{remainingTime,jdbcType=TIMESTAMP},
      coupon_id=#{couponId,jdbcType=INTEGER},
      coupon_type=#{couponType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>