<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.StatusesCommentMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.StatusesComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="visitor" property="visitor" jdbcType="INTEGER" />
    <result column="visitor_type" property="visitorType" jdbcType="VARCHAR" />
    <result column="host" property="host" jdbcType="INTEGER" />
    <result column="host_type" property="hostType" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="foreign_key" property="foreignKey" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    visitor, visitor_type, host, host_type, type, foreign_key, content, score
  </sql>
  <!-- coffee add sql where -->
  <sql id="select_comment_where">
  	and is_deleted=0
  </sql>
  
   <!-- coffee add 获取小组动态详情(哪些人评论了 哪些人回复了) statuses/show/bbs接口调用 -->
    <resultMap id="StatusCommentResultMap" type="com.arttraining.api.bean.CommentsVisitorBean" >
    <result column="comment_id" property="comment_id" jdbcType="INTEGER" />
    <result column="visitor" property="user_id" jdbcType="INTEGER" />
    <result column="visitor_type" property="user_type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="head_pic" property="user_pic" jdbcType="VARCHAR" />
    <result column="create_time" property="time" jdbcType="TIMESTAMP" />
    <result column="city_name" property="city" jdbcType="VARCHAR" />
    <result column="identity_name" property="identity" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="comm_type" jdbcType="VARCHAR" />
    <result column="host" property="host_id" jdbcType="INTEGER" />
    <result column="host_type" property="host_type" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectStatusCommentByShow" resultMap="StatusCommentResultMap">
    select s.id as comment_id,s.visitor,s.visitor_type,
    s.create_time,s.content,s.type,
    s.host,s.host_type,
    u.city_name,u.identity_name,u.name,u.head_pic
    from (select id,visitor,visitor_type,create_time,content,
    type,host,host_type,order_code
    from t_yp_statuses_comment
    where foreign_key = #{fid,jdbcType=INTEGER} and visitor_type='stu'
    <include refid="select_comment_where"></include>
    order by order_code desc
    limit #{limit,jdbcType=INTEGER}) s,
    (select id,name,city_name,identity_name, head_pic
    from t_yp_user_stu 
    where is_deleted=0 and is_lock=0) u
    where s.visitor = u.id
    order by s.order_code desc
  </select>
 
  <!-- coffee add 1114 查询小组动态相关的评论回复列表信息 comment/list/g_stus接口调用-->
   <select id="selectStatusCommentByList" resultMap="StatusCommentResultMap">
    select s.id as comment_id,s.visitor,s.visitor_type,
    s.create_time,s.content,s.type,
    s.host,s.host_type,
    u.city_name,u.identity_name,u.name,u.head_pic
    from (select id,visitor,visitor_type,create_time,content,
    type,host,host_type
    from t_yp_statuses_comment
    where foreign_key = #{fid,jdbcType=INTEGER} and visitor_type='stu'
    <include refid="select_comment_where"></include>
    <if test="offset !=-1">
    	and create_time &lt;(select create_time from t_yp_statuses_comment
    	where is_deleted=0 and id=#{offset,jdbcType=INTEGER})
    </if>
    order by create_time desc
    limit #{limit,jdbcType=INTEGER}) s,
    (select id,name,city_name,identity_name, head_pic
    from t_yp_user_stu 
    where is_deleted=0 and is_lock=0) u
    where s.visitor = u.id
    order by s.create_time desc
  </select>
  
  <!-- end -->
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_statuses_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_statuses_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.StatusesComment" >
    insert into t_yp_statuses_comment (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, visitor, 
      visitor_type, host, host_type, 
      type, foreign_key, content, 
      score)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{visitor,jdbcType=INTEGER}, 
      #{visitorType,jdbcType=VARCHAR}, #{host,jdbcType=INTEGER}, #{hostType,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{foreignKey,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.StatusesComment" >
    insert into t_yp_statuses_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="visitor != null" >
        visitor,
      </if>
      <if test="visitorType != null" >
        visitor_type,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="hostType != null" >
        host_type,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="foreignKey != null" >
        foreign_key,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="visitor != null" >
        #{visitor,jdbcType=INTEGER},
      </if>
      <if test="visitorType != null" >
        #{visitorType,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=INTEGER},
      </if>
      <if test="hostType != null" >
        #{hostType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null" >
        #{foreignKey,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.StatusesComment" >
    update t_yp_statuses_comment
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="visitor != null" >
        visitor = #{visitor,jdbcType=INTEGER},
      </if>
      <if test="visitorType != null" >
        visitor_type = #{visitorType,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=INTEGER},
      </if>
      <if test="hostType != null" >
        host_type = #{hostType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="foreignKey != null" >
        foreign_key = #{foreignKey,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.StatusesComment" >
    update t_yp_statuses_comment
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      visitor = #{visitor,jdbcType=INTEGER},
      visitor_type = #{visitorType,jdbcType=VARCHAR},
      host = #{host,jdbcType=INTEGER},
      host_type = #{hostType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      foreign_key = #{foreignKey,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>