<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.UserTechMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.UserTech" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="specialty_id" property="specialtyId" jdbcType="INTEGER" />
    <result column="specialty_name" property="specialtyName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_father" property="cityFather" jdbcType="VARCHAR" />
    <result column="identity_id" property="identityId" jdbcType="INTEGER" />
    <result column="identity_name" property="identityName" jdbcType="VARCHAR" />
    <result column="authentication" property="authentication" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="work_num" property="workNum" jdbcType="INTEGER" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="fans_num" property="fansNum" jdbcType="INTEGER" />
    <result column="follow_num" property="followNum" jdbcType="INTEGER" />
    <result column="group_num" property="groupNum" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="power" property="power" jdbcType="INTEGER" />
    <result column="is_lock" property="isLock" jdbcType="INTEGER" />
    <result column="locked_time" property="lockedTime" jdbcType="TIMESTAMP" />
    <result column="works" property="works" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="continue_count" property="continueCount" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="ass_pay" property="assPay" jdbcType="DOUBLE" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="skill" property="skill" jdbcType="VARCHAR" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="browse_num" property="browseNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    user_code, user_mobile, pwd, head_pic, name, sex, specialty_id, specialty_name, city_id, 
    city_name, city_father, identity_id, identity_name, authentication, school_id, school_name, 
    org_id, org_name, score, rank, email, work_num, comment_num, fans_num, follow_num, 
    group_num, role, power, is_lock, locked_time, works, title, continue_count, last_login_time, 
    ip, mac, ass_pay, introduction, skill, like_num, browse_num
  </sql>
 
  <!-- coffee add 1103 where sql -->
 <sql id="select_tec_where">
  	and is_deleted=0 and is_lock=0
  </sql>
  
  <!-- coffee add 1112 techer/list接口 获取名师列表接口 -->
  <resultMap id="TecListResultMap" type="com.arttraining.api.bean.TecherListBean">
    <id column="id" property="tec_id" jdbcType="INTEGER" />
    <result column="head_pic" property="pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="specialty_name" property="specialty" jdbcType="VARCHAR" />
    <result column="authentication" property="auth" jdbcType="VARCHAR" />
    <result column="comment_num" property="comment" jdbcType="INTEGER" />
    <result column="fans_num" property="fans_num" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="ass_pay" property="ass_pay" jdbcType="DOUBLE" />
  </resultMap>
  
   <select id="selectTecherListBySelective" resultMap="TecListResultMap">
    select id, head_pic, name, specialty_name, title,
    authentication, comment_num, fans_num, ass_pay
    from t_yp_user_tech
    where 1=1
     <if test="offset !=-1" >
        and order_code &gt; 
        (select order_code from t_yp_user_tech where id = #{offset,jdbcType=INTEGER}
        <include refid="select_tec_where"></include>)  
    </if> 
    <if test="college !=null"> and school_name = #{college,jdbcType=VARCHAR} </if>
    <if test="spec !=null"> and specialty_name = #{spec,jdbcType=VARCHAR} </if>
    <if test="city !=null"> and city_name = #{city,jdbcType=VARCHAR}</if>
    <if test="provinces !=null"> and city_father = #{provinces,jdbcType=VARCHAR}</if>
    <include refid="select_tec_where"></include>
    order by order_code
    limit #{limit,jdbcType=INTEGER}
  </select>
  <!-- coffee add 1112 -techer/list/index接口调用 默认显示2条数据 -->
  <select id="selectTecherListIndexBySelective" resultMap="TecListResultMap">
    select id, head_pic, name, specialty_name, title,
    authentication, comment_num, fans_num, ass_pay
    from t_yp_user_tech
    where 1=1 
    <include refid="select_tec_where"></include>
    order by order_code
    limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
  </select>
  
  <!-- coffee add 1110 查询名师数量 -->
   <select id="selectTecherNumer" resultType="java.lang.Integer">
    select count(id)
    from t_yp_user_tech
    where 1=1 
    <include refid="select_tec_where"></include>
  </select>
  
  <!-- end -->
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_user_tech
    where id = #{id,jdbcType=INTEGER}
    <include refid="select_tec_where"></include>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_user_tech
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.UserTech" >
    insert into t_yp_user_tech (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, user_code, 
      user_mobile, pwd, head_pic, 
      name, sex, specialty_id, 
      specialty_name, city_id, city_name, 
      city_father, identity_id, identity_name, 
      authentication, school_id, school_name, 
      org_id, org_name, score, 
      rank, email, work_num, 
      comment_num, fans_num, follow_num, 
      group_num, role, power, 
      is_lock, locked_time, works, 
      title, continue_count, last_login_time, 
      ip, mac, ass_pay, introduction, 
      skill, like_num, browse_num
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{userMobile,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{specialtyId,jdbcType=INTEGER}, 
      #{specialtyName,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{cityFather,jdbcType=VARCHAR}, #{identityId,jdbcType=INTEGER}, #{identityName,jdbcType=VARCHAR}, 
      #{authentication,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{rank,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{workNum,jdbcType=INTEGER}, 
      #{commentNum,jdbcType=INTEGER}, #{fansNum,jdbcType=INTEGER}, #{followNum,jdbcType=INTEGER}, 
      #{groupNum,jdbcType=INTEGER}, #{role,jdbcType=INTEGER}, #{power,jdbcType=INTEGER}, 
      #{isLock,jdbcType=INTEGER}, #{lockedTime,jdbcType=TIMESTAMP}, #{works,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{continueCount,jdbcType=INTEGER}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, #{assPay,jdbcType=DOUBLE}, #{introduction,jdbcType=VARCHAR}, 
      #{skill,jdbcType=VARCHAR}, #{likeNum,jdbcType=INTEGER}, #{browseNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.UserTech" >
    insert into t_yp_user_tech
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userMobile != null" >
        user_mobile,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="headPic != null" >
        head_pic,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="specialtyName != null" >
        specialty_name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityFather != null" >
        city_father,
      </if>
      <if test="identityId != null" >
        identity_id,
      </if>
      <if test="identityName != null" >
        identity_name,
      </if>
      <if test="authentication != null" >
        authentication,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="schoolName != null" >
        school_name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="workNum != null" >
        work_num,
      </if>
      <if test="commentNum != null" >
        comment_num,
      </if>
      <if test="fansNum != null" >
        fans_num,
      </if>
      <if test="followNum != null" >
        follow_num,
      </if>
      <if test="groupNum != null" >
        group_num,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="isLock != null" >
        is_lock,
      </if>
      <if test="lockedTime != null" >
        locked_time,
      </if>
      <if test="works != null" >
        works,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="continueCount != null" >
        continue_count,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="mac != null" >
        mac,
      </if>
      <if test="assPay != null" >
        ass_pay,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="skill != null" >
        skill,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="browseNum != null" >
        browse_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId,jdbcType=INTEGER},
      </if>
      <if test="specialtyName != null" >
        #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFather != null" >
        #{cityFather,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null" >
        #{identityId,jdbcType=INTEGER},
      </if>
      <if test="identityName != null" >
        #{identityName,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        #{authentication,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null" >
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="workNum != null" >
        #{workNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="fansNum != null" >
        #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="followNum != null" >
        #{followNum,jdbcType=INTEGER},
      </if>
      <if test="groupNum != null" >
        #{groupNum,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="power != null" >
        #{power,jdbcType=INTEGER},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=INTEGER},
      </if>
      <if test="lockedTime != null" >
        #{lockedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="works != null" >
        #{works,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="continueCount != null" >
        #{continueCount,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="assPay != null" >
        #{assPay,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.UserTech" >
    update t_yp_user_tech
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId,jdbcType=INTEGER},
      </if>
      <if test="specialtyName != null" >
        specialty_name = #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFather != null" >
        city_father = #{cityFather,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null" >
        identity_id = #{identityId,jdbcType=INTEGER},
      </if>
      <if test="identityName != null" >
        identity_name = #{identityName,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        authentication = #{authentication,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null" >
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="workNum != null" >
        work_num = #{workNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="fansNum != null" >
        fans_num = #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="followNum != null" >
        follow_num = #{followNum,jdbcType=INTEGER},
      </if>
      <if test="groupNum != null" >
        group_num = #{groupNum,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=INTEGER},
      </if>
      <if test="isLock != null" >
        is_lock = #{isLock,jdbcType=INTEGER},
      </if>
      <if test="lockedTime != null" >
        locked_time = #{lockedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="works != null" >
        works = #{works,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="continueCount != null" >
        continue_count = #{continueCount,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="assPay != null" >
        ass_pay = #{assPay,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.UserTech" >
    update t_yp_user_tech
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      specialty_id = #{specialtyId,jdbcType=INTEGER},
      specialty_name = #{specialtyName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_father = #{cityFather,jdbcType=VARCHAR},
      identity_id = #{identityId,jdbcType=INTEGER},
      identity_name = #{identityName,jdbcType=VARCHAR},
      authentication = #{authentication,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      school_name = #{schoolName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      work_num = #{workNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      fans_num = #{fansNum,jdbcType=INTEGER},
      follow_num = #{followNum,jdbcType=INTEGER},
      group_num = #{groupNum,jdbcType=INTEGER},
      role = #{role,jdbcType=INTEGER},
      power = #{power,jdbcType=INTEGER},
      is_lock = #{isLock,jdbcType=INTEGER},
      locked_time = #{lockedTime,jdbcType=TIMESTAMP},
      works = #{works,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      continue_count = #{continueCount,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      ass_pay = #{assPay,jdbcType=DOUBLE},
      introduction = #{introduction,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      like_num = #{likeNum,jdbcType=INTEGER},
      browse_num = #{browseNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>