<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.UserOrgMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.UserOrg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_father" property="cityFather" jdbcType="VARCHAR" />
    <result column="org_type" property="orgType" jdbcType="VARCHAR" />
    <result column="skill" property="skill" jdbcType="VARCHAR" />
    <result column="authentication" property="authentication" jdbcType="VARCHAR" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="fans_num" property="fansNum" jdbcType="INTEGER" />
    <result column="follow_num" property="followNum" jdbcType="INTEGER" />
    <result column="browse_num" property="browseNum" jdbcType="INTEGER" />
    <result column="group_num" property="groupNum" jdbcType="INTEGER" />
    <result column="evaluate_num" property="evaluateNum" jdbcType="INTEGER" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
   <!-- coffee add 1104 where sql -->
  <sql id="select_org_where">
  	and is_deleted=0
  </sql>
  
  <!-- coffee add 根据关键字搜索机构 search/org接口调用 -->
  <select id="selectOrgListBySearch" resultMap="OrgListResultMap">
    select id,name,authentication,pic,
    city_name,city_father,comment_num,fans_num
    from t_yp_org
    where 1=1 
    <include refid="select_org_where"></include>
    <if test="offset != -1">
    	and order_code <![CDATA[ <= ]]> (select order_code 
    	from t_yp_org where id=#{offset,jdbcType=INTEGER}
    	<include refid="select_org_where"></include>)
    	and id <![CDATA[ <> ]]> #{offset,jdbcType=INTEGER}
    </if>
    <if test="key != null"> 
    	and (name like '%${key}%' or city_name like '%${key}%'
    	 or city_father like '%${key}%')
    </if>
    order by order_code desc
    limit #{limit,jdbcType=INTEGER}
  </select>
  
  
  <!-- coffee add 查询名师下所属的机构信息 techer/show接口 查询某一个名师下所属机构 -->
   <resultMap id="TecShowOrgResultMap" type="com.arttraining.api.bean.TecherShowOrgBean" >
    <id column="id" property="org_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="authentication" property="auth" jdbcType="VARCHAR" />
  </resultMap>
  
   <select id="selectOneOrgByTecShow" resultMap="TecShowOrgResultMap" parameterType="java.lang.Integer" >
    select id,name,authentication
    from t_yp_org
    where id = #{id,jdbcType=INTEGER}
    <include refid="select_org_where"></include>
  </select>
  
  <!-- coffee add 返回机构列表信息 org/list接口调用 -->
  <resultMap id="OrgListResultMap" type="com.arttraining.api.bean.OrgListBean" >
    <id column="id" property="org_id" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_name" property="city" jdbcType="VARCHAR" />
    <result column="city_father" property="province" jdbcType="VARCHAR" /> 
    <result column="authentication" property="auth" jdbcType="VARCHAR" />
    <result column="comment_num" property="comment" jdbcType="INTEGER" />
    <result column="fans_num" property="fans_num" jdbcType="INTEGER" />
  </resultMap>
 
  <select id="selectOrgListPrimaryKey" resultMap="OrgListResultMap">
    select id,name,authentication,pic,
    city_name,city_father,comment_num,fans_num
    from t_yp_org
    where 1=1 
    <include refid="select_org_where"></include>
    <if test="offset != -1">
    	and order_code <![CDATA[ <= ]]>  (select order_code 
    	from t_yp_org where id=#{offset,jdbcType=INTEGER}
    	<include refid="select_org_where"></include>)
    	and id <![CDATA[ <> ]]> #{offset,jdbcType=INTEGER}  
    </if>
    <if test="city != null"> and city_name like '%${city}%'</if>
    <if test="province != null"> and city_father like '%${province}%'</if>
    <if test="type != null"> and org_type like '%${type}%'</if>
    order by order_code desc
    limit #{limit,jdbcType=INTEGER}
  </select>
  
   <!-- coffee add 依据机构Id查询具体的机构详情信息 org/show接口调用 -->
  <resultMap id="OrgShowResultMap" type="com.arttraining.api.bean.OrgShowBean" >
    <id column="id" property="org_id" jdbcType="INTEGER" />
    <result column="pic" property="head_pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_name" property="city" jdbcType="VARCHAR" />
    <result column="city_father" property="province" jdbcType="VARCHAR" /> 
    <result column="authentication" property="auth" jdbcType="VARCHAR" />
    <result column="comment_num" property="comment" jdbcType="INTEGER" />
    <result column="fans_num" property="fans_num" jdbcType="INTEGER" />
    <result column="skill" property="skill" jdbcType="VARCHAR" />
    <result column="browse_num" property="browse_num" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="address" property="contact_address" jdbcType="VARCHAR" />
    <result column="phone" property="contact_phone" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>      
  
  <select id="selectOneOrgByOrgShow" resultMap="OrgShowResultMap" parameterType="java.lang.Integer" >
    select id,remarks,introduction,phone,
    address,browse_num,skill,fans_num,comment_num,
    authentication,city_father,city_name,name,pic
    from t_yp_org
    where id = #{id,jdbcType=INTEGER}
    <include refid="select_org_where"></include>
  </select>
  
  <!-- end -->
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    login_name, pwd, pic, name, introduction, email, phone, city_id, city_name, city_father, 
    org_type, skill, authentication, comment_num, fans_num, follow_num, browse_num, group_num, 
    evaluate_num, like_num, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.UserOrg" >
    insert into t_yp_org (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, login_name, 
      pwd, pic, name, introduction, 
      email, phone, city_id, 
      city_name, city_father, org_type, 
      skill, authentication, comment_num, 
      fans_num, follow_num, browse_num, 
      group_num, evaluate_num, like_num, 
      address)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, 
      #{cityName,jdbcType=VARCHAR}, #{cityFather,jdbcType=VARCHAR}, #{orgType,jdbcType=VARCHAR}, 
      #{skill,jdbcType=VARCHAR}, #{authentication,jdbcType=VARCHAR}, #{commentNum,jdbcType=INTEGER}, 
      #{fansNum,jdbcType=INTEGER}, #{followNum,jdbcType=INTEGER}, #{browseNum,jdbcType=INTEGER}, 
      #{groupNum,jdbcType=INTEGER}, #{evaluateNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arttraining.api.pojo.UserOrg" >
    insert into t_yp_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityFather != null" >
        city_father,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="skill != null" >
        skill,
      </if>
      <if test="authentication != null" >
        authentication,
      </if>
      <if test="commentNum != null" >
        comment_num,
      </if>
      <if test="fansNum != null" >
        fans_num,
      </if>
      <if test="followNum != null" >
        follow_num,
      </if>
      <if test="browseNum != null" >
        browse_num,
      </if>
      <if test="groupNum != null" >
        group_num,
      </if>
      <if test="evaluateNum != null" >
        evaluate_num,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFather != null" >
        #{cityFather,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        #{authentication,jdbcType=VARCHAR},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="fansNum != null" >
        #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="followNum != null" >
        #{followNum,jdbcType=INTEGER},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="groupNum != null" >
        #{groupNum,jdbcType=INTEGER},
      </if>
      <if test="evaluateNum != null" >
        #{evaluateNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.UserOrg" >
    update t_yp_org
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityFather != null" >
        city_father = #{cityFather,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        authentication = #{authentication,jdbcType=VARCHAR},
      </if>
      <if test="commentNum != null" >
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="fansNum != null" >
        fans_num = #{fansNum,jdbcType=INTEGER},
      </if>
      <if test="followNum != null" >
        follow_num = #{followNum,jdbcType=INTEGER},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="groupNum != null" >
        group_num = #{groupNum,jdbcType=INTEGER},
      </if>
      <if test="evaluateNum != null" >
        evaluate_num = #{evaluateNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.UserOrg" >
    update t_yp_org
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_father = #{cityFather,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      authentication = #{authentication,jdbcType=VARCHAR},
      comment_num = #{commentNum,jdbcType=INTEGER},
      fans_num = #{fansNum,jdbcType=INTEGER},
      follow_num = #{followNum,jdbcType=INTEGER},
      browse_num = #{browseNum,jdbcType=INTEGER},
      group_num = #{groupNum,jdbcType=INTEGER},
      evaluate_num = #{evaluateNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>