<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arttraining.api.dao.WorksMapper" >
  <resultMap id="BaseResultMap" type="com.arttraining.api.pojo.Works" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="owner_type" property="ownerType" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="art_type" property="artType" jdbcType="VARCHAR" />
    <result column="theme" property="theme" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="is_public" property="isPublic" jdbcType="INTEGER" />
    <result column="assessments_code" property="assessmentsCode" jdbcType="VARCHAR" />
    <result column="assessments_id" property="assessmentsId" jdbcType="INTEGER" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="tec_comment_num" property="tecCommentNum" jdbcType="INTEGER" />
    <result column="browse_num" property="browseNum" jdbcType="INTEGER" />
    <result column="reward_num" property="rewardNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, is_deleted, create_time, order_code, delete_time, remarks, attachment, 
    owner, owner_type, title, content, art_type, theme, tag, is_public, assessments_code, 
    assessments_id, comment_num, like_num, tec_comment_num, browse_num, reward_num
  </sql>
  <!-- coffee add 1103 where sql -->
  <sql id="select_works_where">
  		and is_deleted=0
  </sql>
  <sql id="select_userstu_where" >
       is_lock=0 and is_deleted=0
  </sql>
   <!-- coffee add 更新作品相关数量 -->
   <update id="updateNumberBySelective" parameterType="com.arttraining.api.pojo.Works" >
    update t_yp_works
    <set >
      <if test="commentNum != null" >
        comment_num = comment_num+${commentNum},
      </if>
      <if test="likeNum != null" >
        like_num = like_num+${likeNum},
      </if>
      <if test="tecCommentNum != null" >
        tec_comment_num = tec_comment_num+${tecCommentNum},
      </if>
      <if test="browseNum != null" >
        browse_num = browse_num+${browseNum},
      </if>
      <if test="rewardNum != null" >
        reward_num = reward_num+${rewardNum},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
    <include refid="select_works_where"></include>
  </update>
  
  
   <!-- coffee add 发布评论时更新评论数 comments/create/work接口调用 -->
  <update id="updateWorkCommNumByPrimaryKey" parameterType="java.lang.Integer" >
    update t_yp_works
    set comment_num = comment_num+1
    where id = #{id,jdbcType=INTEGER}
    <include refid="select_works_where"></include>
  </update>
   <!-- coffee add 点赞时更新点赞数 -->
  <update id="updateWorkLikeNumByPrimaryKey" parameterType="java.lang.Integer" >
    update t_yp_works
    set like_num = like_num+1
    where id = #{id,jdbcType=INTEGER}
    <include refid="select_works_where"></include>
  </update>
  <!-- coffee add 获取首页默认2条作品列表信息 statuses/public_timeline/bbs接口调用 -->
  <resultMap id="HomepageListResultMap" type="com.arttraining.api.bean.HomePageStatusesBean" >
    <result column="stus_id" property="stus_id" jdbcType="INTEGER" />
    <result column="stus_type" property="stus_type" jdbcType="VARCHAR" />   
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="owner_type" property="owner_type" jdbcType="VARCHAR" />
    <result column="owner_name" property="owner_name" jdbcType="VARCHAR" />
    <result column="owner_head_pic" property="owner_head_pic" jdbcType="VARCHAR" />
   	<result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
  	<result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="comment_num" property="comment_num" jdbcType="INTEGER" />
    <result column="like_num" property="like_num" jdbcType="INTEGER" />
    <result column="browse_num" property="browse_num" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectWorkListByHomepage" resultMap="HomepageListResultMap" parameterType="java.lang.Integer">
    select w.id as stus_id,'work' as stus_type,w.comment_num,
    w.owner_type,w.like_num,w.browse_num,w.content,
	w.title,w.tag,w.create_time,w.remarks,
	s.identity_name as identity,
	s.id as owner,s.name as owner_name,s.city_name as city,
	s.head_pic as owner_head_pic
	from (select id,comment_num,like_num,browse_num,content,title,
		  tag,create_time,owner,owner_type,remarks,order_code
		  from t_yp_works
	      where is_deleted=0
		  order by order_code desc
	      limit #{limit,jdbcType=INTEGER}) w, 
		(select identity_name,city_name,head_pic,name,id
		from t_yp_user_stu
		where <include refid="select_userstu_where"></include>) s
	where w.owner = s.id
	order by w.order_code desc
  </select>
  
  <!-- coffee add 1108 查询指定用户发帖详情 默认10条记录 -->
  <select id="selectWorkListByUid" resultMap="HomepageListResultMap">
    select w.id as stus_id,'work' as stus_type,w.comment_num,
    w.owner_type,w.like_num,w.browse_num,w.content,
	w.title,w.tag,w.create_time,w.remarks,
	s.identity_name as identity,
	s.id as owner,s.name as owner_name,s.city_name as city,
	s.head_pic as owner_head_pic
	from (select id,comment_num,like_num,browse_num,content,title,
		  tag,create_time,owner,owner_type,remarks,order_code
		  from t_yp_works
	      where is_deleted=0 and owner_type='stu' and owner=#{uid,jdbcType=INTEGER}
	      <if test="offset !=-1">
	      	 and order_code <![CDATA[ <= ]]> (select order_code
	      	 from t_yp_works
	      	 where is_deleted=0 and id=#{offset,jdbcType=INTEGER})
	      	 and id <![CDATA[ <> ]]> #{offset,jdbcType=INTEGER}
	      </if> 
		  order by order_code desc
	      limit #{limit,jdbcType=INTEGER}) w, 
		(select identity_name,city_name,head_pic,name,id
		from t_yp_user_stu
		where <include refid="select_userstu_where"></include>
		and id=#{uid,jdbcType=INTEGER}) s
	where w.owner = s.id
	order by w.order_code desc
  </select>
  
  <!-- coffee add 1107 查询是否点赞和点评 statuses/user_timeline/work接口调用 -->
  <resultMap id="LikeOrCommentResultMap" type="com.arttraining.api.bean.HomeLikeOrCommentBean" >
    <result column="id" property="att_id" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="store_path" property="store_path" jdbcType="VARCHAR" />
   	<result column="type" property="att_type" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectIsLikeOrCommentOrAtt" resultMap="LikeOrCommentResultMap" 
   		statementType="CALLABLE">
  		{CALL p_yp_homepage_works(
	  		#{s_id,jdbcType=INTEGER,mode=IN},
	  		#{u_type,jdbcType=VARCHAR,mode=IN},  
	  	    #{u_id,jdbcType=INTEGER,mode=IN},
	  	    #{is_like,jdbcType=VARCHAR,mode=OUT},
	  	    #{is_comment,jdbcType=VARCHAR,mode=OUT}
  	    )}  
   </select>
 
  <!-- coffee add 1108 查询某一个用户作品信息 -->
  <resultMap id="ShowOneWorkResultMap" type="com.arttraining.api.bean.WorkShowBean" >
    <result column="stus_id" property="stus_id" jdbcType="INTEGER" />
    <result column="stus_type" property="stus_type" jdbcType="VARCHAR" />   
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="owner_type" property="owner_type" jdbcType="VARCHAR" />
    <result column="owner_name" property="owner_name" jdbcType="VARCHAR" />
    <result column="owner_head_pic" property="owner_head_pic" jdbcType="VARCHAR" />
   	<result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
  	<result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="comment_num" property="comment_num" jdbcType="INTEGER" />
    <result column="like_num" property="like_num" jdbcType="INTEGER" />
    <result column="browse_num" property="browse_num" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectOneWorkByid" resultMap="ShowOneWorkResultMap">
    select w.id as stus_id,'work' as stus_type,w.comment_num,
    w.owner_type,w.like_num,w.browse_num,w.content,
	w.title,w.tag,w.create_time,w.remarks,
	s.identity_name as identity,
	s.id as owner,s.name as owner_name,s.city_name as city,
	s.head_pic as owner_head_pic
	from (select id,comment_num,like_num,browse_num,content,title,
		  tag,create_time,owner,owner_type,remarks
		  from t_yp_works
	      where is_deleted=0 and owner_type='stu' and id=#{id,jdbcType=INTEGER}) w, 
		(select identity_name,city_name,head_pic,name,id
		from t_yp_user_stu
		where <include refid="select_userstu_where"></include>) s
	where w.owner = s.id
  </select>
  
  <!-- end -->
  
  <select id="selectByOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_works
    where assessments_code = #{assessments_code,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_yp_works
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_yp_works
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arttraining.api.pojo.Works" >
    insert into t_yp_works (id, uuid, is_deleted, 
      create_time, order_code, delete_time, 
      remarks, attachment, owner, 
      owner_type, title, content, 
      art_type, theme, tag, 
      is_public, assessments_code, assessments_id, 
      comment_num, like_num, tec_comment_num, 
      browse_num, reward_num)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderCode,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{owner,jdbcType=INTEGER}, 
      #{ownerType,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{artType,jdbcType=VARCHAR}, #{theme,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, 
      #{isPublic,jdbcType=INTEGER}, #{assessmentsCode,jdbcType=VARCHAR}, #{assessmentsId,jdbcType=INTEGER}, 
      #{commentNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, #{tecCommentNum,jdbcType=INTEGER}, 
      #{browseNum,jdbcType=INTEGER}, #{rewardNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.arttraining.api.pojo.Works" >
    insert into t_yp_works
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="ownerType != null" >
        owner_type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="artType != null" >
        art_type,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="isPublic != null" >
        is_public,
      </if>
      <if test="assessmentsCode != null" >
        assessments_code,
      </if>
      <if test="assessmentsId != null" >
        assessments_id,
      </if>
      <if test="commentNum != null" >
        comment_num,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="tecCommentNum != null" >
        tec_comment_num,
      </if>
      <if test="browseNum != null" >
        browse_num,
      </if>
      <if test="rewardNum != null" >
        reward_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="ownerType != null" >
        #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="artType != null" >
        #{artType,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null" >
        #{isPublic,jdbcType=INTEGER},
      </if>
      <if test="assessmentsCode != null" >
        #{assessmentsCode,jdbcType=VARCHAR},
      </if>
      <if test="assessmentsId != null" >
        #{assessmentsId,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="tecCommentNum != null" >
        #{tecCommentNum,jdbcType=INTEGER},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="rewardNum != null" >
        #{rewardNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arttraining.api.pojo.Works" >
    update t_yp_works
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=INTEGER},
      </if>
      <if test="ownerType != null" >
        owner_type = #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="artType != null" >
        art_type = #{artType,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null" >
        is_public = #{isPublic,jdbcType=INTEGER},
      </if>
      <if test="assessmentsCode != null" >
        assessments_code = #{assessmentsCode,jdbcType=VARCHAR},
      </if>
      <if test="assessmentsId != null" >
        assessments_id = #{assessmentsId,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="tecCommentNum != null" >
        tec_comment_num = #{tecCommentNum,jdbcType=INTEGER},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="rewardNum != null" >
        reward_num = #{rewardNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arttraining.api.pojo.Works" >
    update t_yp_works
    set uuid = #{uuid,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=INTEGER},
      owner_type = #{ownerType,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      art_type = #{artType,jdbcType=VARCHAR},
      theme = #{theme,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      is_public = #{isPublic,jdbcType=INTEGER},
      assessments_code = #{assessmentsCode,jdbcType=VARCHAR},
      assessments_id = #{assessmentsId,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      tec_comment_num = #{tecCommentNum,jdbcType=INTEGER},
      browse_num = #{browseNum,jdbcType=INTEGER},
      reward_num = #{rewardNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>