<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpi.api.dao.AminerRecordMapper">
	<resultMap id="BaseResultMap" type="com.carpi.api.pojo.AminerRecord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bak1" property="bak1" jdbcType="VARCHAR" />
		<result column="bak2" property="bak2" jdbcType="VARCHAR" />
		<result column="bak3" property="bak3" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP" />
		<result column="attachment" property="attachment" jdbcType="VARCHAR" />
		<result column="fens_user_id" property="fensUserId" jdbcType="INTEGER" />
		<result column="miner_id" property="minerId" jdbcType="INTEGER" />
		<result column="record_date" property="recordDate" jdbcType="TIMESTAMP" />
		<result column="record_price" property="recordPrice" jdbcType="DOUBLE" />
		<result column="miner_type" property="minerType" jdbcType="INTEGER" />
		<result column="miner_count" property="minerCount" jdbcType="INTEGER" />
		<result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
		<result column="record_state" property="recordState" jdbcType="INTEGER" />
		<result column="record_type" property="recordType" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bak1, bak2, bak3, is_delete, create_date, creater,
		delete_date,
		attachment, fens_user_id,
		miner_id, record_date,
		record_price, miner_type, miner_count, order_number,
		record_state,
		record_type
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from a_miner_record
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		a_miner_record
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.carpi.api.pojo.AminerRecord">
		insert into a_miner_record
		(id, bak1, bak2,
		bak3, is_delete, create_date,
		creater, delete_date,
		attachment,
		fens_user_id, miner_id, record_date,
		record_price,
		miner_type, miner_count,
		order_number, record_state, record_type
		)
		values (#{id,jdbcType=INTEGER}, #{bak1,jdbcType=VARCHAR},
		#{bak2,jdbcType=VARCHAR},
		#{bak3,jdbcType=VARCHAR},
		#{isDelete,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
		#{creater,jdbcType=VARCHAR}, #{deleteDate,jdbcType=TIMESTAMP},
		#{attachment,jdbcType=VARCHAR},
		#{fensUserId,jdbcType=INTEGER},
		#{minerId,jdbcType=INTEGER}, #{recordDate,jdbcType=TIMESTAMP},
		#{recordPrice,jdbcType=DOUBLE}, #{minerType,jdbcType=INTEGER},
		#{minerCount,jdbcType=INTEGER},
		#{orderNumber,jdbcType=VARCHAR},
		#{recordState,jdbcType=INTEGER}, #{recordType,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.carpi.api.pojo.AminerRecord">
		insert into a_miner_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bak1 != null">
				bak1,
			</if>
			<if test="bak2 != null">
				bak2,
			</if>
			<if test="bak3 != null">
				bak3,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="deleteDate != null">
				delete_date,
			</if>
			<if test="attachment != null">
				attachment,
			</if>
			<if test="fensUserId != null">
				fens_user_id,
			</if>
			<if test="minerId != null">
				miner_id,
			</if>
			<if test="recordDate != null">
				record_date,
			</if>
			<if test="recordPrice != null">
				record_price,
			</if>
			<if test="minerType != null">
				miner_type,
			</if>
			<if test="minerCount != null">
				miner_count,
			</if>
			<if test="orderNumber != null">
				order_number,
			</if>
			<if test="recordState != null">
				record_state,
			</if>
			<if test="recordType != null">
				record_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bak1 != null">
				#{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				#{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				#{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				#{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				#{attachment,jdbcType=VARCHAR},
			</if>
			<if test="fensUserId != null">
				#{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="minerId != null">
				#{minerId,jdbcType=INTEGER},
			</if>
			<if test="recordDate != null">
				#{recordDate,jdbcType=TIMESTAMP},
			</if>
			<if test="recordPrice != null">
				#{recordPrice,jdbcType=DOUBLE},
			</if>
			<if test="minerType != null">
				#{minerType,jdbcType=INTEGER},
			</if>
			<if test="minerCount != null">
				#{minerCount,jdbcType=INTEGER},
			</if>
			<if test="orderNumber != null">
				#{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="recordState != null">
				#{recordState,jdbcType=INTEGER},
			</if>
			<if test="recordType != null">
				#{recordType,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.carpi.api.pojo.AminerRecord">
		update a_miner_record
		<set>
			<if test="bak1 != null">
				bak1 = #{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				bak2 = #{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				bak3 = #{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				delete_date = #{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				attachment = #{attachment,jdbcType=VARCHAR},
			</if>
			<if test="fensUserId != null">
				fens_user_id = #{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="minerId != null">
				miner_id = #{minerId,jdbcType=INTEGER},
			</if>
			<if test="recordDate != null">
				record_date = #{recordDate,jdbcType=TIMESTAMP},
			</if>
			<if test="recordPrice != null">
				record_price = #{recordPrice,jdbcType=DOUBLE},
			</if>
			<if test="minerType != null">
				miner_type = #{minerType,jdbcType=INTEGER},
			</if>
			<if test="minerCount != null">
				miner_count = #{minerCount,jdbcType=INTEGER},
			</if>
			<if test="orderNumber != null">
				order_number = #{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="recordState != null">
				record_state = #{recordState,jdbcType=INTEGER},
			</if>
			<if test="recordType != null">
				record_type = #{recordType,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.carpi.api.pojo.AminerRecord">
		update
		a_miner_record
		set bak1 = #{bak1,jdbcType=VARCHAR},
		bak2 =
		#{bak2,jdbcType=VARCHAR},
		bak3 = #{bak3,jdbcType=VARCHAR},
		is_delete =
		#{isDelete,jdbcType=INTEGER},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		creater =
		#{creater,jdbcType=VARCHAR},
		delete_date =
		#{deleteDate,jdbcType=TIMESTAMP},
		attachment =
		#{attachment,jdbcType=VARCHAR},
		fens_user_id =
		#{fensUserId,jdbcType=INTEGER},
		miner_id = #{minerId,jdbcType=INTEGER},
		record_date = #{recordDate,jdbcType=TIMESTAMP},
		record_price =
		#{recordPrice,jdbcType=DOUBLE},
		miner_type =
		#{minerType,jdbcType=INTEGER},
		miner_count =
		#{minerCount,jdbcType=INTEGER},
		order_number =
		#{orderNumber,jdbcType=VARCHAR},
		record_state =
		#{recordState,jdbcType=INTEGER},
		record_type =
		#{recordType,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 查询所有记录 -->
	<select id="selectARecord" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from a_miner_record
		<where>
			is_delete = 0
			<if test="fensUserId != null">
				and fens_user_id = #{fensUserId,jdbcType=INTEGER}
			</if>
		</where>
	</select>
</mapper>