<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpi.api.dao.FangKuiMapper">
	<resultMap id="BaseResultMap"
		type="com.carpi.api.pojo.FangKui">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bak1" property="bak1" jdbcType="VARCHAR" />
		<result column="bak2" property="bak2" jdbcType="VARCHAR" />
		<result column="bak3" property="bak3" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete"
			jdbcType="INTEGER" />
		<result column="create_date" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="delete_date" property="deleteDate"
			jdbcType="TIMESTAMP" />
		<result column="attachment" property="attachment"
			jdbcType="VARCHAR" />
		<result column="gongdan_id" property="gongdanId"
			jdbcType="INTEGER" />
		<result column="fankui_conent" property="fankuiConent"
			jdbcType="VARCHAR" />
		<result column="fankui_type" property="fankuiType"
			jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="fens_user_id" property="fensUserId"
			jdbcType="INTEGER" />
		<result column="fens_name" property="fensName"
			jdbcType="VARCHAR" />
		<result column="kefu_id" property="kefuId" jdbcType="INTEGER" />
		<result column="kefu_name" property="kefuName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bak1, bak2, bak3, is_delete, create_date, creater,
		delete_date,
		attachment, gongdan_id,
		fankui_conent, fankui_type, type,
		fens_user_id, fens_name, kefu_id, kefu_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from fang_kui
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from fang_kui
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.carpi.api.pojo.FangKui">
		insert into fang_kui (id,
		bak1, bak2,
		bak3, is_delete, create_date,
		creater, delete_date,
		attachment,
		gongdan_id, fankui_conent, fankui_type,
		type, fens_user_id,
		fens_name,
		kefu_id, kefu_name)
		values (#{id,jdbcType=INTEGER},
		#{bak1,jdbcType=VARCHAR},
		#{bak2,jdbcType=VARCHAR},
		#{bak3,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER},
		#{createDate,jdbcType=TIMESTAMP},
		#{creater,jdbcType=VARCHAR},
		#{deleteDate,jdbcType=TIMESTAMP},
		#{attachment,jdbcType=VARCHAR},
		#{gongdanId,jdbcType=INTEGER}, #{fankuiConent,jdbcType=VARCHAR},
		#{fankuiType,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{fensUserId,jdbcType=INTEGER},
		#{fensName,jdbcType=VARCHAR},
		#{kefuId,jdbcType=INTEGER}, #{kefuName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.carpi.api.pojo.FangKui">
		insert into fang_kui
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bak1 != null">
				bak1,
			</if>
			<if test="bak2 != null">
				bak2,
			</if>
			<if test="bak3 != null">
				bak3,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="deleteDate != null">
				delete_date,
			</if>
			<if test="attachment != null">
				attachment,
			</if>
			<if test="gongdanId != null">
				gongdan_id,
			</if>
			<if test="fankuiConent != null">
				fankui_conent,
			</if>
			<if test="fankuiType != null">
				fankui_type,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="fensUserId != null">
				fens_user_id,
			</if>
			<if test="fensName != null">
				fens_name,
			</if>
			<if test="kefuId != null">
				kefu_id,
			</if>
			<if test="kefuName != null">
				kefu_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bak1 != null">
				#{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				#{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				#{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				#{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				#{attachment,jdbcType=VARCHAR},
			</if>
			<if test="gongdanId != null">
				#{gongdanId,jdbcType=INTEGER},
			</if>
			<if test="fankuiConent != null">
				#{fankuiConent,jdbcType=VARCHAR},
			</if>
			<if test="fankuiType != null">
				#{fankuiType,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="fensUserId != null">
				#{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="fensName != null">
				#{fensName,jdbcType=VARCHAR},
			</if>
			<if test="kefuId != null">
				#{kefuId,jdbcType=INTEGER},
			</if>
			<if test="kefuName != null">
				#{kefuName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.carpi.api.pojo.FangKui">
		update fang_kui
		<set>
			<if test="bak1 != null">
				bak1 = #{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				bak2 = #{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				bak3 = #{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				delete_date = #{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				attachment = #{attachment,jdbcType=VARCHAR},
			</if>
			<if test="gongdanId != null">
				gongdan_id = #{gongdanId,jdbcType=INTEGER},
			</if>
			<if test="fankuiConent != null">
				fankui_conent = #{fankuiConent,jdbcType=VARCHAR},
			</if>
			<if test="fankuiType != null">
				fankui_type = #{fankuiType,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="fensUserId != null">
				fens_user_id = #{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="fensName != null">
				fens_name = #{fensName,jdbcType=VARCHAR},
			</if>
			<if test="kefuId != null">
				kefu_id = #{kefuId,jdbcType=INTEGER},
			</if>
			<if test="kefuName != null">
				kefu_name = #{kefuName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.carpi.api.pojo.FangKui">
		update fang_kui
		set bak1 = #{bak1,jdbcType=VARCHAR},
		bak2
		= #{bak2,jdbcType=VARCHAR},
		bak3 = #{bak3,jdbcType=VARCHAR},
		is_delete =
		#{isDelete,jdbcType=INTEGER},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		creater =
		#{creater,jdbcType=VARCHAR},
		delete_date =
		#{deleteDate,jdbcType=TIMESTAMP},
		attachment =
		#{attachment,jdbcType=VARCHAR},
		gongdan_id =
		#{gongdanId,jdbcType=INTEGER},
		fankui_conent =
		#{fankuiConent,jdbcType=VARCHAR},
		fankui_type =
		#{fankuiType,jdbcType=INTEGER},
		type = #{type,jdbcType=INTEGER},
		fens_user_id = #{fensUserId,jdbcType=INTEGER},
		fens_name =
		#{fensName,jdbcType=VARCHAR},
		kefu_id = #{kefuId,jdbcType=INTEGER},
		kefu_name = #{kefuName,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="selectList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from fang_kui
		where gongdan_id =
		#{gongdanId,jdbcType=INTEGER} and is_delete = 0 order by create_date
	</select>
</mapper>