<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpi.api.dao.FensWalletMapper">
	<resultMap id="BaseResultMap" type="com.carpi.api.pojo.FensWallet">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bak1" property="bak1" jdbcType="VARCHAR" />
		<result column="bak2" property="bak2" jdbcType="VARCHAR" />
		<result column="bak3" property="bak3" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP" />
		<result column="attachment" property="attachment" jdbcType="VARCHAR" />
		<result column="fens_user_id" property="fensUserId" jdbcType="INTEGER" />
		<result column="wallet_address" property="walletAddress"
			jdbcType="VARCHAR" />
		<result column="wallet_name" property="walletName" jdbcType="VARCHAR" />
		<result column="wallet_price" property="walletPrice" jdbcType="DOUBLE" />
		<result column="cpa_count" property="cpaCount" jdbcType="DOUBLE" />
		<result column="able_cpa" property="ableCpa" jdbcType="DOUBLE" />
		<result column="lock_cpa" property="lockCpa" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bak1, bak2, bak3, is_delete, create_date, creater,
		delete_date,
		attachment, fens_user_id,
		wallet_address, wallet_name,
		wallet_price, cpa_count, able_cpa, lock_cpa
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from fens_wallet
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		fens_wallet
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.carpi.api.pojo.FensWallet">
		insert into fens_wallet (id,
		bak1, bak2,
		bak3, is_delete, create_date,
		creater, delete_date,
		attachment,
		fens_user_id, wallet_address, wallet_name,
		wallet_price,
		cpa_count, able_cpa,
		lock_cpa)
		values (#{id,jdbcType=INTEGER},
		#{bak1,jdbcType=VARCHAR},
		#{bak2,jdbcType=VARCHAR},
		#{bak3,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER},
		#{createDate,jdbcType=TIMESTAMP},
		#{creater,jdbcType=VARCHAR},
		#{deleteDate,jdbcType=TIMESTAMP},
		#{attachment,jdbcType=VARCHAR},
		#{fensUserId,jdbcType=INTEGER}, #{walletAddress,jdbcType=VARCHAR},
		#{walletName,jdbcType=VARCHAR},
		#{walletPrice,jdbcType=DOUBLE},
		#{cpaCount,jdbcType=DOUBLE},
		#{ableCpa,jdbcType=DOUBLE},
		#{lockCpa,jdbcType=DOUBLE})
	</insert>
	<insert id="insertSelective" parameterType="com.carpi.api.pojo.FensWallet">
		insert into fens_wallet
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bak1 != null">
				bak1,
			</if>
			<if test="bak2 != null">
				bak2,
			</if>
			<if test="bak3 != null">
				bak3,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="deleteDate != null">
				delete_date,
			</if>
			<if test="attachment != null">
				attachment,
			</if>
			<if test="fensUserId != null">
				fens_user_id,
			</if>
			<if test="walletAddress != null">
				wallet_address,
			</if>
			<if test="walletName != null">
				wallet_name,
			</if>
			<if test="walletPrice != null">
				wallet_price,
			</if>
			<if test="cpaCount != null">
				cpa_count,
			</if>
			<if test="ableCpa != null">
				able_cpa,
			</if>
			<if test="lockCpa != null">
				lock_cpa,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bak1 != null">
				#{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				#{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				#{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				#{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				#{attachment,jdbcType=VARCHAR},
			</if>
			<if test="fensUserId != null">
				#{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="walletAddress != null">
				#{walletAddress,jdbcType=VARCHAR},
			</if>
			<if test="walletName != null">
				#{walletName,jdbcType=VARCHAR},
			</if>
			<if test="walletPrice != null">
				#{walletPrice,jdbcType=DOUBLE},
			</if>
			<if test="cpaCount != null">
				#{cpaCount,jdbcType=DOUBLE},
			</if>
			<if test="ableCpa != null">
				#{ableCpa,jdbcType=DOUBLE},
			</if>
			<if test="lockCpa != null">
				#{lockCpa,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.carpi.api.pojo.FensWallet">
		update fens_wallet
		<set>
			<if test="bak1 != null">
				bak1 = #{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				bak2 = #{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				bak3 = #{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				delete_date = #{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				attachment = #{attachment,jdbcType=VARCHAR},
			</if>
			<if test="fensUserId != null">
				fens_user_id = #{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="walletAddress != null">
				wallet_address = #{walletAddress,jdbcType=VARCHAR},
			</if>
			<if test="walletName != null">
				wallet_name = #{walletName,jdbcType=VARCHAR},
			</if>
			<if test="walletPrice != null">
				wallet_price = #{walletPrice,jdbcType=DOUBLE},
			</if>
			<if test="cpaCount != null">
				cpa_count = #{cpaCount,jdbcType=DOUBLE},
			</if>
			<if test="ableCpa != null">
				able_cpa = #{ableCpa,jdbcType=DOUBLE},
			</if>
			<if test="lockCpa != null">
				lock_cpa = #{lockCpa,jdbcType=DOUBLE},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.carpi.api.pojo.FensWallet">
		update fens_wallet
		set bak1 = #{bak1,jdbcType=VARCHAR},
		bak2 = #{bak2,jdbcType=VARCHAR},
		bak3 = #{bak3,jdbcType=VARCHAR},
		is_delete =
		#{isDelete,jdbcType=INTEGER},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		creater =
		#{creater,jdbcType=VARCHAR},
		delete_date =
		#{deleteDate,jdbcType=TIMESTAMP},
		attachment =
		#{attachment,jdbcType=VARCHAR},
		fens_user_id =
		#{fensUserId,jdbcType=INTEGER},
		wallet_address =
		#{walletAddress,jdbcType=VARCHAR},
		wallet_name =
		#{walletName,jdbcType=VARCHAR},
		wallet_price =
		#{walletPrice,jdbcType=DOUBLE},
		cpa_count =
		#{cpaCount,jdbcType=DOUBLE},
		able_cpa = #{ableCpa,jdbcType=DOUBLE},
		lock_cpa = #{lockCpa,jdbcType=DOUBLE}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 根据粉丝id查询钱包列表 -->
	<!-- <select id="selectAll" resultMap="BaseResultMap"> select <include refid="Base_Column_List" 
		/> from fens_wallet <where> <if test="fensUserId != null"> fens_user_id = 
		#{fensUserId,jdbcType=INTEGER} </if> </where> </select> -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fens_wallet
		where is_delete=0 and fens_user_id =
		#{fensUserId,jdbcType=INTEGER}
	</select>

	<!-- 根据钱包的地址和粉丝id查询钱包信息 -->
	<select id="selectAddress" resultMap="BaseResultMap"
		parameterType="com.carpi.api.pojo.FensWallet">
		select
		<include refid="Base_Column_List" />
		from fens_wallet
		where wallet_address = #{walletAddress,jdbcType=VARCHAR} 
		and is_delete = 0
	</select>
	
	<!-- 根据粉丝id(付款人)查询钱包信息  -->
	<select id="selectByFens" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from fens_wallet
		where fens_user_id = #{fensUserId,jdbcType=INTEGER} 
		and is_delete = 0
	</select>
	
</mapper>