<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpi.api.dao.FensUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.carpi.api.pojo.FensUserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="fens_user_id" property="fensUserId" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="title_pic" property="titlePic" jdbcType="VARCHAR" />
    <result column="fens_count" property="fensCount" jdbcType="BIGINT" />
    <result column="fens_computing_power" property="fensComputingPower" jdbcType="DOUBLE" />
    <result column="fens_earning_power" property="fensEarningPower" jdbcType="DOUBLE" />
    <result column="miner_computing_power" property="minerComputingPower" jdbcType="DOUBLE" />
    <result column="fens_grade" property="fensGrade" jdbcType="INTEGER" />
    <result column="profit_bonus" property="profitBonus" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bak1, bak2, bak3, is_delete, create_date, creater, delete_date, attachment, fens_user_id, 
    sex, city, age, birthday, title_pic, fens_count, fens_computing_power, fens_earning_power, 
    miner_computing_power, fens_grade, profit_bonus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fens_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fens_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.carpi.api.pojo.FensUserInfo" >
    insert into fens_user_info (id, bak1, bak2, 
      bak3, is_delete, create_date, 
      creater, delete_date, attachment, 
      fens_user_id, sex, city, 
      age, birthday, title_pic, 
      fens_count, fens_computing_power, fens_earning_power, 
      miner_computing_power, fens_grade, profit_bonus
      )
    values (#{id,jdbcType=INTEGER}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, 
      #{bak3,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{deleteDate,jdbcType=TIMESTAMP}, #{attachment,jdbcType=VARCHAR}, 
      #{fensUserId,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{titlePic,jdbcType=VARCHAR}, 
      #{fensCount,jdbcType=BIGINT}, #{fensComputingPower,jdbcType=DOUBLE}, #{fensEarningPower,jdbcType=DOUBLE}, 
      #{minerComputingPower,jdbcType=DOUBLE}, #{fensGrade,jdbcType=INTEGER}, #{profitBonus,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.carpi.api.pojo.FensUserInfo" >
    insert into fens_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
      <if test="bak3 != null" >
        bak3,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="deleteDate != null" >
        delete_date,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="fensUserId != null" >
        fens_user_id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="titlePic != null" >
        title_pic,
      </if>
      <if test="fensCount != null" >
        fens_count,
      </if>
      <if test="fensComputingPower != null" >
        fens_computing_power,
      </if>
      <if test="fensEarningPower != null" >
        fens_earning_power,
      </if>
      <if test="minerComputingPower != null" >
        miner_computing_power,
      </if>
      <if test="fensGrade != null" >
        fens_grade,
      </if>
      <if test="profitBonus != null" >
        profit_bonus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="deleteDate != null" >
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="fensUserId != null" >
        #{fensUserId,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null" >
        #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="fensCount != null" >
        #{fensCount,jdbcType=BIGINT},
      </if>
      <if test="fensComputingPower != null" >
        #{fensComputingPower,jdbcType=DOUBLE},
      </if>
      <if test="fensEarningPower != null" >
        #{fensEarningPower,jdbcType=DOUBLE},
      </if>
      <if test="minerComputingPower != null" >
        #{minerComputingPower,jdbcType=DOUBLE},
      </if>
      <if test="fensGrade != null" >
        #{fensGrade,jdbcType=INTEGER},
      </if>
      <if test="profitBonus != null" >
        #{profitBonus,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carpi.api.pojo.FensUserInfo" >
    update fens_user_info
    <set >
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="deleteDate != null" >
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="fensUserId != null" >
        fens_user_id = #{fensUserId,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null" >
        title_pic = #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="fensCount != null" >
        fens_count = #{fensCount,jdbcType=BIGINT},
      </if>
      <if test="fensComputingPower != null" >
        fens_computing_power = #{fensComputingPower,jdbcType=DOUBLE},
      </if>
      <if test="fensEarningPower != null" >
        fens_earning_power = #{fensEarningPower,jdbcType=DOUBLE},
      </if>
      <if test="minerComputingPower != null" >
        miner_computing_power = #{minerComputingPower,jdbcType=DOUBLE},
      </if>
      <if test="fensGrade != null" >
        fens_grade = #{fensGrade,jdbcType=INTEGER},
      </if>
      <if test="profitBonus != null" >
        profit_bonus = #{profitBonus,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carpi.api.pojo.FensUserInfo" >
    update fens_user_info
    set bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      attachment = #{attachment,jdbcType=VARCHAR},
      fens_user_id = #{fensUserId,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=VARCHAR},
      title_pic = #{titlePic,jdbcType=VARCHAR},
      fens_count = #{fensCount,jdbcType=BIGINT},
      fens_computing_power = #{fensComputingPower,jdbcType=DOUBLE},
      fens_earning_power = #{fensEarningPower,jdbcType=DOUBLE},
      miner_computing_power = #{minerComputingPower,jdbcType=DOUBLE},
      fens_grade = #{fensGrade,jdbcType=INTEGER},
      profit_bonus = #{profitBonus,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeySelectiveByFensUserId" parameterType="com.carpi.api.pojo.FensUserInfo" >
    update fens_user_info
    <set >
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="deleteDate != null" >
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="fensUserId != null" >
        fens_user_id = #{fensUserId,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null" >
        title_pic = #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="fensCount != null" >
        fens_count = #{fensCount,jdbcType=BIGINT},
      </if>
      <if test="fensComputingPower != null" >
        fens_computing_power = #{fensComputingPower,jdbcType=DOUBLE},
      </if>
      <if test="fensEarningPower != null" >
        fens_earning_power = #{fensEarningPower,jdbcType=DOUBLE},
      </if>
      <if test="minerComputingPower != null" >
        miner_computing_power = #{minerComputingPower,jdbcType=DOUBLE},
      </if>
      <if test="fensGrade != null" >
        fens_grade = #{fensGrade,jdbcType=INTEGER},
      </if>
      <if test="profitBonus != null" >
        profit_bonus = #{profitBonus,jdbcType=DOUBLE},
      </if>
    </set>
    where fens_user_id = #{fensUserId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByFensUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fens_user_info
    where fens_user_id = #{fensUserId,jdbcType=INTEGER}
  </select>
  
  	<!--粉丝求和1 -->
	<select id="selectTotalChildFensOne" parameterType="java.lang.Integer"
			resultType="java.lang.Integer">
		select
		count(id)
		from fens_user_info
		where is_delete = 0 and fens_user_id = #{fensUserId,jdbcType=INTEGER} and fens_grade = 1
	</select>
	<!--粉丝求和2 -->
	<select id="selectTotalChildFensTwo" parameterType="java.lang.Integer"
			resultType="java.lang.Integer">
		select
		count(id)
		from fens_user_info
		where is_delete = 0 and fens_user_id = #{fensUserId,jdbcType=INTEGER} and fens_grade = 2
	</select>
	
</mapper>