<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpi.api.dao.GongDanMapper">
	<resultMap id="BaseResultMap"
		type="com.carpi.api.pojo.GongDan">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bak1" property="bak1" jdbcType="VARCHAR" />
		<result column="bak2" property="bak2" jdbcType="VARCHAR" />
		<result column="bak3" property="bak3" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete"
			jdbcType="INTEGER" />
		<result column="create_date" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="delete_date" property="deleteDate"
			jdbcType="TIMESTAMP" />
		<result column="attachment" property="attachment"
			jdbcType="VARCHAR" />
		<result column="fens_user_id" property="fensUserId"
			jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="trader_id" property="traderId"
			jdbcType="INTEGER" />
		<result column="problem" property="problem" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bak1, bak2, bak3, is_delete, create_date, creater,
		delete_date,
		attachment, fens_user_id,
		type, trader_id, problem, img
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from gong_dan
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from gong_dan
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.carpi.api.pojo.GongDan">
		insert into gong_dan (id,
		bak1, bak2,
		bak3, is_delete, create_date,
		creater, delete_date,
		attachment,
		fens_user_id, type, trader_id,
		problem, img)
		values
		(#{id,jdbcType=INTEGER}, #{bak1,jdbcType=VARCHAR},
		#{bak2,jdbcType=VARCHAR},
		#{bak3,jdbcType=VARCHAR},
		#{isDelete,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
		#{creater,jdbcType=VARCHAR}, #{deleteDate,jdbcType=TIMESTAMP},
		#{attachment,jdbcType=VARCHAR},
		#{fensUserId,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER}, #{traderId,jdbcType=INTEGER},
		#{problem,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.carpi.api.pojo.GongDan">
		insert into gong_dan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bak1 != null">
				bak1,
			</if>
			<if test="bak2 != null">
				bak2,
			</if>
			<if test="bak3 != null">
				bak3,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="deleteDate != null">
				delete_date,
			</if>
			<if test="attachment != null">
				attachment,
			</if>
			<if test="fensUserId != null">
				fens_user_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="traderId != null">
				trader_id,
			</if>
			<if test="problem != null">
				problem,
			</if>
			<if test="img != null">
				img,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bak1 != null">
				#{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				#{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				#{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				#{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				#{attachment,jdbcType=VARCHAR},
			</if>
			<if test="fensUserId != null">
				#{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="traderId != null">
				#{traderId,jdbcType=INTEGER},
			</if>
			<if test="problem != null">
				#{problem,jdbcType=VARCHAR},
			</if>
			<if test="img != null">
				#{img,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.carpi.api.pojo.GongDan">
		update gong_dan
		<set>
			<if test="bak1 != null">
				bak1 = #{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				bak2 = #{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				bak3 = #{bak3,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="deleteDate != null">
				delete_date = #{deleteDate,jdbcType=TIMESTAMP},
			</if>
			<if test="attachment != null">
				attachment = #{attachment,jdbcType=VARCHAR},
			</if>
			<if test="fensUserId != null">
				fens_user_id = #{fensUserId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="traderId != null">
				trader_id = #{traderId,jdbcType=INTEGER},
			</if>
			<if test="problem != null">
				problem = #{problem,jdbcType=VARCHAR},
			</if>
			<if test="img != null">
				img = #{img,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.carpi.api.pojo.GongDan">
		update gong_dan
		set bak1 = #{bak1,jdbcType=VARCHAR},
		bak2
		= #{bak2,jdbcType=VARCHAR},
		bak3 = #{bak3,jdbcType=VARCHAR},
		is_delete =
		#{isDelete,jdbcType=INTEGER},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		creater =
		#{creater,jdbcType=VARCHAR},
		delete_date =
		#{deleteDate,jdbcType=TIMESTAMP},
		attachment =
		#{attachment,jdbcType=VARCHAR},
		fens_user_id =
		#{fensUserId,jdbcType=INTEGER},
		type = #{type,jdbcType=INTEGER},
		trader_id = #{traderId,jdbcType=INTEGER},
		problem =
		#{problem,jdbcType=VARCHAR},
		img = #{img,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<!-- 查询历史工单 -->
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from gong_dan
		<where>
		   is_delete = 0
		   <if test="fensUserId != null">
				and fens_user_id = #{fensUserId,jdbcType=INTEGER}
			</if>
			order by create_date desc
		</where>
	</select>
</mapper>